<div class="reviews">
  <div class="reviews__title">Ratings and Reviews</div>
  <div class="reviews__average">
    <span class="reviews__average-text">Average Review:</span>
    <span class="reviews__average-value">4.3</span>
  </div>
  <div class="reviews__stars">
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star-half-alt"></i>
    <span class="reviews__total">(120 ratings)</span>
  </div>
  <div class="reviews__breakdown">
    <div class="reviews__breakdown-row">
      <div class="reviews__breakdown-label">5 stars</div>
      <div class="reviews__breakdown-bar">
        <div class="reviews__breakdown-bar-fill" style="width: 70%"></div>
      </div>
      <div class="reviews__breakdown-value">70%</div>
    </div>
    <!-- Repeat for 4 stars, 3 stars, 2 stars, 1 star -->
  </div>
  <button class="reviews__write-button">Write a Review</button>
</div>