<div class='account-page'>
    <div class='hero-ribbon container container--secondary'>
        <div class='breadcrumbs'>
            Home > Your Account > Orders By Location
        </div>
        <div class='account-overview'>
            <h1>RENEE FAKENAME</h1>
            <h2>Account Settings</h2>
            <i>Company Name - Account Number</i>
        </div>
    </div>
    <div class='main'>
        <div class='side-nav'>
            <div class='nav-group you-orders'>
                <h4>YOUR ORDERS</h4>
                <ul>
                    <li>
                        <a>Track and manage your orders</a>
                    </li>
                    <li>
                        <a>Reorder</a>
                    </li>
                    <li>
                        <a>View Orders By Location</a>
                    </li>
                    <li>
                        <a>Shipping Rates & Policies</a>
                    </li>
                    <li>
                        <a>Returns</a>
                    </li>
                    <li class='last-item'>
                        <a>Customer Service</a>
                    </li>
                </ul>
            </div>
            <div class='nav-group your-account'>
                <h4>YOUR ACCOUNT</h4>
                <ul>
                    <li>
                        <a>Saved Lists</a>
                    </li>
                    <li>
                        <a>Recommendations</a>
                    </li>
                    <li>
                        <a>Recurring Orders</a>
                    </li>
                    <li>
                        <a>Your Account Details</a>
                    </li>
                    <li>
                        <a>Payment Methods & Credit</a>
                    </li>
                    <li>
                        <a>Save All Settings</a>
                    </li>
                </ul>
            </div>
            <div class='site-settings'>
                <ul>
                    <li>
                        <a><i class=''>
                                <svg xmlns='http://www.w3.org/2000/svg' width='15' height='15' viewBox='0 0 24 24'
                                    fill='none'>
                                    <ellipse cx='12' cy='12.0059' rx='3.09513' ry='7.99805' stroke='#000000'></ellipse>
                                    <circle cx='12' cy='12' r='8' stroke='#000000'></circle>
                                    <path d='M4 11.9946L20 12.0059' stroke='#000000' stroke-linecap='round'
                                        stroke-linejoin='round'></path>
                                </svg>
                            </i><span>English</span></a>
                    </li>
                    <li>
                        <a><i><svg xmlns='http://www.w3.org/2000/svg' width='15' height='8' viewBox='0 0 9600 4800'>
                                    <title>Flag of Canada</title>
                                    <path fill='#f00' d='m0 0h2400l99
                                        99h4602l99-99h2400v4800h-2400l-99-99h-4602l-99
                                        99H0z'></path>
                                    <path fill='#fff' d='m2400
                                        0h4800v4800h-4800zm2490
                                        4430-45-863a95 95 0 0 1
                                        111-98l859
                                        151-116-320a65 65 0 0 1
                                        20-73l941-762-212-99a65 65 0
                                        0
                                        1-34-79l186-572-542 115a65
                                        65 0 0
                                        1-73-38l-105-247-423 454a65
                                        65 0 0
                                        1-111-57l204-1052-327 189a65
                                        65 0 0
                                        1-91-27l-332-652-332 652a65
                                        65 0 0
                                        1-91 27l-327-189 204 1052a65
                                        65 0 0
                                        1-111 57l-423-454-105 247a65
                                        65 0 0
                                        1-73 38l-542-115 186 572a65
                                        65 0 0
                                        1-34 79l-212 99 941 762a65
                                        65 0 0 1
                                        20 73l-116 320 859-151a95 95
                                        0 0 1
                                        111 98l-45 863z'></path>
                                </svg>
                            </i><span>Canada</span></a>
                    </li>
                    <li>
                        <a>Signout</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class='orders'>
            <div class='order-group'>
                <h3>Bloor Street Location</h3>
                <div class='table-controls'><i><a><b>Add New Location</b><i class='plus-icon-outline'>
                                <g id='mq-stencil-icon-b8be931d' fill='rgb(4, 14, 77)' stroke-width='0' stroke='none'
                                    stroke-dasharray='none'><svg preserveAspectRatio='none' width='100%'
                                        viewBox='0 0 24 24' height='100%' xmlns='http://www.w3.org/2000/svg'>
                                        <path d='M13
                                            7h-2v4H7v2h4v4h2v-4h4v-2h-4V7zm-1-5C6.48
                                            2 2 6.48 2 12s4.48 10 10 10 10-4.48
                                            10-10S17.52 2 12 2zm0 18c-4.41
                                            0-8-3.59-8-8s3.59-8 8-8 8 3.59 8
                                            8-3.59 8-8 8z'>
                                        </path>
                                    </svg></g>
                            </i></a></i>
                </div>
                <div class='order-table'>
                    <div class='order'>
                        <ul>
                            <li class='large'>
                                Order# 000006
                            </li>
                            <li>
                                13 Jun 2022
                            </li>
                            <li>
                                251-861-5362 Phone Number
                            </li>
                            <li class='text-center'>
                                Toronto Location
                            </li>
                            <li>
                                <a href='' class='button button--dark-gray'>Options</a>
                            </li>
                            <li>
                                <a href='' class='button button--primary'>Details</a>
                            </li>
                        </ul>
                    </div>
                    <div class='order'>
                        <ul>
                            <li class='large'>
                                Order# 000006
                            </li>
                            <li>
                                13 Jun 2022
                            </li>
                            <li>
                                251-861-5362 Phone Number
                            </li>
                            <li class='text-center'>
                                Toronto Location
                            </li>
                            <li>
                                <a href='' class='button button--dark-gray'>Options</a>
                            </li>
                            <li>
                                <a href='' class='button button--primary'>Details</a>
                            </li>
                        </ul>
                    </div>
                    <div class='order'>
                        <ul>
                            <li class='large'>
                                Order# 000006
                            </li>
                            <li>
                                13 Jun 2022
                            </li>
                            <li>
                                251-861-5362 Phone Number
                            </li>
                            <li class='text-center'>
                                Toronto Location
                            </li>
                            <li>
                                <a href='' class='button button--dark-gray'>Options</a>
                            </li>
                            <li>
                                <a href='' class='button button--primary'>Details</a>
                            </li>
                        </ul>
                    </div>
                    <div class='order'>
                        <ul>
                            <li class='large'>
                                Order# 000006
                            </li>
                            <li>
                                13 Jun 2022
                            </li>
                            <li>
                                251-861-5362 Phone Number
                            </li>
                            <li class='text-center'>
                                Toronto Location
                            </li>
                            <li>
                                <a href='' class='button button--dark-gray'>Options</a>
                            </li>
                            <li>
                                <a href='' class='button button--primary'>Details</a>
                            </li>
                        </ul>
                    </div>
                    <div class='order'>
                        <ul>
                            <li class='large'>
                                Order# 000006
                            </li>
                            <li>
                                13 Jun 2022
                            </li>
                            <li>
                                251-861-5362 Phone Number
                            </li>
                            <li class='text-center'>
                                Toronto Location
                            </li>
                            <li>
                                <a href='' class='button button--dark-gray'>Options</a>
                            </li>
                            <li>
                                <a href='' class='button button--primary'>Details</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class='order-group'>
                <hr />
                <h3>Yonge Street Location</h3>
                <div class='order-table'>
                    <div class='order'>
                        <ul>
                            <li class='large'>
                                Order# 000006
                            </li>
                            <li>
                                13 Jun 2022
                            </li>
                            <li>
                                251-861-5362 Phone Number
                            </li>
                            <li class='text-center'>
                                Toronto Location
                            </li>
                            <li>
                                <a href='' class='button button--dark-gray'>Options</a>
                            </li>
                            <li>
                                <a href='' class='button button--primary'>Details</a>
                            </li>
                        </ul>
                    </div>
                    <div class='order'>
                        <ul>
                            <li class='large'>
                                Order# 000006
                            </li>
                            <li>
                                13 Jun 2022
                            </li>
                            <li>
                                251-861-5362 Phone Number
                            </li>
                            <li class='text-center'>
                                Toronto Location
                            </li>
                            <li>
                                <a href='' class='button button--dark-gray'>Options</a>
                            </li>
                            <li>
                                <a href='' class='button button--primary'>Details</a>
                            </li>
                        </ul>
                    </div>
                    <div class='order'>
                        <ul>
                            <li class='large'>
                                Order# 000006
                            </li>
                            <li>
                                13 Jun 2022
                            </li>
                            <li>
                                251-861-5362 Phone Number
                            </li>
                            <li class='text-center'>
                                Toronto Location
                            </li>
                            <li>
                                <a href='' class='button button--dark-gray'>Options</a>
                            </li>
                            <li>
                                <a href='' class='button button--primary'>Details</a>
                            </li>
                        </ul>
                    </div>
                    <div class='order'>
                        <ul>
                            <li class='large'>
                                Order# 000006
                            </li>
                            <li>
                                13 Jun 2022
                            </li>
                            <li>
                                251-861-5362 Phone Number
                            </li>
                            <li class='text-center'>
                                Toronto Location
                            </li>
                            <li>
                                <a href='' class='button button--dark-gray'>Options</a>
                            </li>
                            <li>
                                <a href='' class='button button--primary'>Details</a>
                            </li>
                        </ul>
                    </div>
                    <div class='order'>
                        <ul>
                            <li class='large'>
                                Order# 000006
                            </li>
                            <li>
                                13 Jun 2022
                            </li>
                            <li>
                                251-861-5362 Phone Number
                            </li>
                            <li class='text-center'>
                                Toronto Location
                            </li>
                            <li>
                                <a href='' class='button button--dark-gray'>Options</a>
                            </li>
                            <li>
                                <a href='' class='button button--primary'>Details</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class='help-buttons'>
        <div class='need-assistance'>
            <a class='button button--dark-gray'>
                Need Assistance?
            </a>
        </div>
        <div class='buttons'>
            <a class='button button--primary'>
                Call Customer Assistance
            </a>
            <a class='button button--primary'>
                Email Your Manager
            </a>
            <a class='button button--dark-gray'>
                ????????
            </a>
        </div>
    </div>
</div>