<div class="registration-page container container--primary">
    <form class="add-location-form form--primary container--primary">
        <h1>Add Location</h1>
        <span>
            Add your primary shipping address here. To add more shipping locations, please click the "additional
            locations" button
        </span>
        <div class="input-groups">
            <div class="input-group">
                <label for="street-name">Street Address</label>
                <input placeholder="Example: 123 Street Name" type="text" name="street-name">
            </div>
            <div class="input-group">
                <label for="suite-unit">Suite/Unit</label>
                <input placeholder="Example: 6A" type="text" name="suite-unit">
            </div>
            <div class="input-group">
                <label for="country">Country</label>
                <input placeholder="Example: Canada" type="text" name="country">
            </div>
            <div class="input-group">
                <label for="state-province">State/Province</label>
                <input placeholder="Type your state-province name here" type="text" name="state-province">
            </div>
            <div class="input-group">
                <label for="additional-field">IE: ???</label>
                <input placeholder="IE: Dental Clinic" type="text" name="additional-field">
            </div>
            <div class="input-group">
                <label for="phone">Telephone</label>
                <input placeholder="Phone number" type="tel" name="phone">
            </div>
            <div class="button-group">
                <a href="/my-addresses" class="login-link">Log In Instead</a>
                <div class="buttons">
                    <a href="/" class="button button--primary">Next</a>
                    <a href="/" class="button button--blue">Additional Location</a>
                </div>
            </div>
        </div>
    </form>
</div>