<div class="cart">
    <div class="cart-navigation container container--secondary">
        <h1>
            <ul>
                <li>1.&nbsp;
                    <a href="/cart--shopping-cart">Cart</a>

                </li>
                <li class="active">2.&nbsp;<a href="/cart--shipping-details">Shipping</a></li>
                <li>3.&nbsp;<a href="/cart--payment-options">Payment Options</a></li>
            </ul>
        </h1>
    </div>
    <div class="main">
        <div class="shipping">
            <h2>Shipping Details</h2>
            <div class="locations container container--light-gray">
                <div class="location">
                    <g transform="matrix(1 0 0 1 118 444)" class="stencil"><svg width="50" height="50" x="0.5" y="0.5"
                            class="stencil--easier-to-select" style="opacity:
                            1;">
                            <defs></defs>
                            <rect x="0" y="0" width="50" height="50" fill="transparent"
                                class="stencil__selection-helper"></rect>
                            <style>
                                #mq-stencil-icon-4aea37cf * {
                                    vector-effect: non-scaling-size;
                                }
                            </style>
                            <g id="mq-stencil-icon-4aea37cf" fill="rgb(0,0,0)" stroke-width="0" stroke="none"
                                stroke-dasharray="none"><svg preserveAspectRatio="none" width="100%" viewBox="0 0 24 24"
                                    height="100%" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7
                                        13s7-7.75 7-13c0-3.87-3.13-7-7-7zM7
                                        9c0-2.76 2.24-5 5-5s5 2.24 5 5c0
                                        2.88-2.88 7.19-5 9.88C9.92 16.21 7 11.85
                                        7 9z"></path>
                                    <circle r="2.5" cy="9" cx="12"></circle>
                                </svg></g>
                        </svg></g>
                    <div class="location-content">
                        <h3 class="title">Bloor Street Location</h3>
                        <span class="description">130 Bloor Street West,
                            Toronto, ontario, MSS 1N5, 416-XXX-YYYY</span>
                    </div>
                    <input class="checkbox-round" type="checkbox" name="test" id="">
                </div>
                <div class="location">
                    <g transform="matrix(1 0 0 1 118 444)" class="stencil"><svg width="50" height="50" x="0.5" y="0.5"
                            class="stencil--easier-to-select" style="opacity:
                            1;">
                            <defs></defs>
                            <rect x="0" y="0" width="50" height="50" fill="transparent"
                                class="stencil__selection-helper"></rect>
                            <style>
                                #mq-stencil-icon-4aea37cf * {
                                    vector-effect: non-scaling-size;
                                }
                            </style>
                            <g id="mq-stencil-icon-4aea37cf" fill="rgb(0,0,0)" stroke-width="0" stroke="none"
                                stroke-dasharray="none"><svg preserveAspectRatio="none" width="100%" viewBox="0 0 24 24"
                                    height="100%" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7
                                        13s7-7.75 7-13c0-3.87-3.13-7-7-7zM7
                                        9c0-2.76 2.24-5 5-5s5 2.24 5 5c0
                                        2.88-2.88 7.19-5 9.88C9.92 16.21 7 11.85
                                        7 9z"></path>
                                    <circle r="2.5" cy="9" cx="12"></circle>
                                </svg></g>
                        </svg></g>
                    <div class="location-content">
                        <h3 class="title">Bloor Street Location</h3>
                        <span class="description">130 Bloor Street West,
                            Toronto, ontario, MSS 1N5, 416-XXX-YYYY</span>
                    </div>
                    <input class="checkbox-round" type="checkbox" name="test" id="">
                </div>
                <div class="location">
                    <g transform="matrix(1 0 0 1 118 444)" class="stencil"><svg width="50" height="50" x="0.5" y="0.5"
                            class="stencil--easier-to-select" style="opacity:
                            1;">
                            <defs></defs>
                            <rect x="0" y="0" width="50" height="50" fill="transparent"
                                class="stencil__selection-helper"></rect>
                            <style>
                                #mq-stencil-icon-4aea37cf * {
                                    vector-effect: non-scaling-size;
                                }
                            </style>
                            <g id="mq-stencil-icon-4aea37cf" fill="rgb(0,0,0)" stroke-width="0" stroke="none"
                                stroke-dasharray="none"><svg preserveAspectRatio="none" width="100%" viewBox="0 0 24 24"
                                    height="100%" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7
                                        13s7-7.75 7-13c0-3.87-3.13-7-7-7zM7
                                        9c0-2.76 2.24-5 5-5s5 2.24 5 5c0
                                        2.88-2.88 7.19-5 9.88C9.92 16.21 7 11.85
                                        7 9z"></path>
                                    <circle r="2.5" cy="9" cx="12"></circle>
                                </svg></g>
                        </svg></g>
                    <div class="location-content">
                        <h3 class="title">Bloor Street Location</h3>
                        <span class="description">130 Bloor Street West,
                            Toronto, ontario, MSS 1N5, 416-XXX-YYYY</span>
                    </div>
                    <input class="checkbox-round" type="checkbox" name="test" id="">
                </div>
                <div class="view-all-locations">
                    <a>View All Locations</a>
                </div>
            </div>
            <div class="disclaimer">
                <i>A duplicate order for each location will be generated and
                    shipped if multiple locations are selected.</i>
            </div>
            <div class="shipping-selections">
                <div href="" class="container container--secondary">
                    Free Shipping
                    <div>
                        Between
                        2 - 5 working days
                    </div>
                </div>
                <a href="" class="container conatiner--gray">Next Day Delivery -
                    $20<div>24 hours from checkout</div></a>
            </div>
            <div class="next-cancel-buttons">
                <a href="" class="button button--primary">Next</a>
                <a href="" class="button button--gray">Cancel</a>
            </div>
        </div>
        <div class="summary">
            <h2>Summary</h2>
            <div class="products">
                <div class="product">
                    <img src="" alt="product-image">
                    <div>
                        <h4>PRODUCT NAME</h4>
                        <div class="price">$300</div>
                        <div class="quantity">x2</div>
                    </div>
                </div>
                <div class="product">
                    <img src="" alt="product-image">
                    <div>
                        <h4>PRODUCT NAME</h4>
                        <div class="price">$300</div>
                        <div class="quantity">x2</div>
                    </div>
                </div>
            </div>
            <div class="row coupon-code">HAVE A VOUCHER?</div>
            <div class="cart-details">
                <div class="row">
                    <span>SUBTOTAL</span>
                    <span>$600</span>
                </div>
                <div class="row">
                    <span>SHIPPING</span>
                    <span>FREE</span>
                </div>
                <div class="row">
                    <span>TAXES</span>
                    <span>$13</span>
                </div>
            </div>
            <div class="row total">
                <span>TOTAL</span>
                <span>$613</span>
            </div>
        </div>
    </div>
</div>