<div class="cart">
    <div class="cart-navigation container container--secondary">
        <h1>
            <ul>
                <li>1.&nbsp;
                    <a href="/cart--shopping-cart">Cart</a>

                </li>
                <li>2.&nbsp;<a href="/cart--shipping-details">Shipping Details</a></li>
                <li class="active">3.&nbsp;<a href="/cart--payment-options">Payment
                        Options</a></li>
            </ul>
        </h1>
    </div>
    <div class="main">
        <div class="payment-options">
            <h2>Payment Method</h2>
            <form class="payment-methods">
                <div class="border credit-card">
                    <div class="form-head">
                        <input type="radio" class="checkbox-round" name="payment-method">
                        <label for="payment-method">
                            <h3>Credit Card</h3>
                            <div class="description">Lorem ipsum dolor sit amet
                                consectetur adipisicing elit. Andis nemo quia
                                sint, provident quidem animi!</div>
                        </label>
                    </div>
                    <div class="form-details">
                        <div class="card-details">
                            <input type="text" class="ccnum" name="cardnumber" placeholder="0000 0000 0000 0000">
                            <input type="text" class="expiration" placeholder="MM/YY">
                            <input type="text" class="cvv" placeholder="CVV">
                        </div>
                        <input type="text" class="card-holder-name" name="cardname" placeholder="Card Holder Name">
                    </div>
                </div>
                <div class="border pre-approved-credit">
                    <div class="form-head">
                        <input type="radio" class="checkbox-round" name="payment-method">
                        <label for="payment-method">
                            <h3>Pre-Approved Credit</h3>
                            <div class="description">Available Credit: N/A</div>
                        </label>
                        <img src="images/logos/logo-horizontal-blue.png" alt="wcd-logo" width="125" height="40">
                    </div>
                </div>
                <div class="border recurring-order--wrapper">
                    <div class="recurring-order">
                        <div class="input-group">
                            <input class="checkbox-round" name="recurring-order" type="radio" id="">
                            <label for="recurring-order">Recurring Order - 3
                                Months - Save 10%</label>
                        </div>
                        <div class="input-group">
                            <input class="checkbox-round" name="recurring-order" type="radio" id="">
                            <label for="recurring-order">Recurring Order - 6
                                Months - Save 15%</label>
                        </div>
                        <div class="input-group">
                            <input class="checkbox-round" name="recurring-order" type="radio" id="">
                            <label for="recurring-order">Recurring Order - 12
                                Months - Save 20%</label>
                        </div>
                    </div>
                    <div>
                        <i>
                            Orders will be delivered monthly based on first rder
                            date. <br><br> Savings Are based on the total order
                            before
                            applicable taxes.
                        </i>
                    </div>
                </div>
            </form>
            <div class="next-cancel-buttons">
                <a href="" class="button button--primary">Pay Now</a>
                <a href="" class="button button--gray">Cancel</a>
            </div>
        </div>
        <div class="summary">
            <h2>Summary</h2>
            <div class="products">
                <div class="product">
                    <img src="" alt="product-image">
                    <div>
                        <h4>PRODUCT NAME</h4>
                        <div class="price">$300</div>
                        <div class="quantity">x2</div>
                    </div>
                </div>
                <div class="product">
                    <img src="" alt="product-image">
                    <div>
                        <h4>PRODUCT NAME</h4>
                        <div class="price">$300</div>
                        <div class="quantity">x2</div>
                    </div>
                </div>
            </div>
            <div class="row coupon-code">HAVE A VOUCHER?</div>
            <div class="cart-details">
                <div class="row">
                    <span>SUBTOTAL</span>
                    <span>$600</span>
                </div>
                <div class="row">
                    <span>SHIPPING</span>
                    <span>FREE</span>
                </div>
                <div class="row">
                    <span>TAXES</span>
                    <span>$13</span>
                </div>
            </div>
            <div class="row total">
                <span>TOTAL</span>
                <span>$613</span>
            </div>
        </div>
    </div>
</div>