<div class="cart">
    <div class="cart-navigation container container--secondary">
        <h1>
            <ul>
                <li class="active">1.&nbsp;
                    <a href="/cart--shopping-cart">Cart</a>

                </li>
                <li>2.&nbsp;<a href="/cart--shipping-details">Shipping Details</a></li>
                <li>3.&nbsp;<a href="/cart--payment-options">Payment Options</a></li>
            </ul>
        </h1>
    </div>
    <div class="main">
        <div class="shopping-cart">
            <h2>Shopping Cart</h2>
            <div class="items">
                <div class="item">
                    <img src="" alt="product image placeholder">
                    <div class="item-content">
                        <h4 class="subsidiary">Canadian Custom Packaging</h4>
                        <h3 class="title">BZK ANTISEPTIC TOWELETTE</h3>
                        <span class="description">TOWELETTE ANTISEPTIC BZK
                            HLTHCARE PLUS 100EA/BX 10BX/CA</span>
                        <span class="price">$XXX</span>
                        <div class="recurring-order">
                            <div class="input-group">
                                <input class="checkbox-round"
                                    name="recurring-order" type="radio"
                                    name="" id="">
                                <span>Recurring Order - 3 Months - Save 10%</span>
                            </div>
                            <div class="input-group">
                                <input class="checkbox-round"
                                    name="recurring-order" type="radio"
                                    name="" id="">
                                <span>Recurring Order - 6 Months - Save 15%</span>
                            </div>
                            <div class="input-group">
                                <input class="checkbox-round"
                                    name="recurring-order" type="radio"
                                    name="" id="">
                                <span>Recurring Order - 12 Months - Save 20%</span>
                            </div>
                        </div>
                    </div>
                    <div class="quantity">
                        <input type="number" value="1"/>
                        {{!-- It's tricky to style the input adjustment
                        elements, below code we can activate if client insists
                        --}}
                        {{!--
                        <input type="text" class="custom-input" value="1"/>
                        <a class="plus button button--gray">
                            <!-- Up arrow -->
                            <svg x="8" y="8.25" width="6" height="4"><path
                                    d="M3,0L6,4L0,4Z"
                                    fill="rgb(122,122,122)"
                                    fill-rule="evenOdd"></path></svg>
                        </a>
                        <span class="minus button button--gray">
                            <!-- Down arrow -->
                            <svg x="8" y="8.25" width="6" height="4"><path
                                    d="M3,0L6,4L0,4Z"
                                    fill="rgb(122,122,122)"
                                    fill-rule="evenOdd"></path></svg>
                        </span> --}}
                    </div>
                </div>
                <div class="item">
                    <img src="" alt="product image placeholder">
                    <div class="item-content">
                        <h4 class="subsidiary">WEXMEDICAL</h4>
                        <h3 class="title">Alcohol Swabs, 200/BOX</h3>
                        <span class="description">TOWELETTE ANTISEPTIC BZK
                            HLTHCARE PLUS 100EA/BX 10BX/CA</span>
                        <span class="price">$XXX</span>
                        <div class="recurring-order">
                            <div class="input-group">
                                <input class="checkbox-round" type="checkbox"
                                    name="" id="">
                                <span>Recurring Order - 3 Months - Save 10%</span>
                            </div>
                            <div class="input-group">
                                <input class="checkbox-round" type="checkbox"
                                    name="" id="">
                                <span>Recurring Order - 6 Months - Save 15%</span>
                            </div>
                            <div class="input-group">
                                <input class="checkbox-round" type="checkbox"
                                    name="" id="">
                                <span>Recurring Order - 12 Months - Save 20%</span>
                            </div>
                        </div>
                    </div>
                    <div class="quantity">
                        <input type="number" value="1"/>
                        {{!-- It's tricky to style the input adjustment
                        elements, below code we can activate if client insists
                        --}}
                        {{!--
                        <input type="text" class="custom-input" value="1"/>
                        <a class="plus button button--gray">
                            <!-- Up arrow -->
                            <svg x="8" y="8.25" width="6" height="4"><path
                                    d="M3,0L6,4L0,4Z"
                                    fill="rgb(122,122,122)"
                                    fill-rule="evenOdd"></path></svg>
                        </a>
                        <span class="minus button button--gray">
                            <!-- Down arrow -->
                            <svg x="8" y="8.25" width="6" height="4"><path
                                    d="M3,0L6,4L0,4Z"
                                    fill="rgb(122,122,122)"
                                    fill-rule="evenOdd"></path></svg>
                        </span> --}}
                    </div>
                </div>
            </div>
            <div class="next-cancel-buttons">
                <a href="" class="button button--primary">Next</a>
                <a href="" class="button button--gray">Cancel</a>
            </div>
        </div>
        <div class="summary">
            <h2>Summary</h2>
            <div class="row coupon-code"><b>ENTER COUPON CODE??</b></div>
            <div class="cart-details">
                <div class="row">
                    <span>SUBTOTAL</span>
                    <span>$600</span>
                </div>
                <div class="row">
                    <span>SHIPPING</span>
                    <span>FREE</span>
                </div>
                <div class="row">
                    <span>TAXES</span>
                    <span>$13</span>
                </div>
            </div>
            <div class="row total">
                <span>TOTAL</span>
                <span>$613</span>
            </div>
        </div>
    </div>
</div>