<div class="categories">
    {{!-- Hero --}}
    {{> sections/categories/hero }}
    <div class="bg-image">
        <section class="category-search-section">
            <aside class="side-nav">
                <h3>
                    Shop by Subcategory:
                </h3>
                <ul>
                    <li><a href="/subcategories">> Antiseptic Products</a></li>
                    <li><a href="/subcategories">> Dialysis Products</a></li>
                    <li><a href="/subcategories">> Dispensers and Organizers</a></li>
                    <li><a href="/subcategories">> Ear Care</a></li>
                    <li><a href="/subcategories">> Education and Training</a></li>
                    <li><a href="/subcategories">> Bags and Pouches</a></li>
                    <li><a href="/subcategories">> Infant Products</a></li>
                    <li><a href="/subcategories">> Minor Procedure Trays</a></li>
                    <li><a href="/subcategories">> Bathing</a></li>
                    <li><a href="/subcategories">> Bedside Care</a></li>
                    <li><a href="/subcategories">> Casts</a></li>
                    <li><a href="/subcategories">> Incontinence</a></li>
                    <li><a href="/subcategories">> Office Supplies</a></li>
                    <li><a href="/subcategories">> Compression</a></li>
                    <li><a href="/subcategories">> Food Service</a></li>
                    <li><a href="/subcategories">> Paper Products</a></li>
                    <li><a href="/subcategories">> Patient Safety</a></li>
                    <li><a href="/subcategories">> Post Mortem Products</a></li>
                    <li><a href="/subcategories">> Patient Apparel</a></li>
                    <li><a href="/subcategories">> Ostomy</a></li>
                    <li><a href="/subcategories">> Urology</a></li>
                    <li><a href="/subcategories">> General Patient Care</a></li>
                    <li><a href="/subcategories">> Supplies</a></li>
                    <li><a href="/subcategories">> Non-Surgical Instruments</a></li>
                    <li><a href="/subcategories">> Nutrition and Feeding</a></li>
                    <li><a href="/subcategories">> Personal Hygiene</a></li>
                    <li><a href="/subcategories">> Patient Therapy and
                            Rehabilitation</a></li>
                </ul>
            </aside>
            <div class="subcategory">
                <h1 class="subcategory__title">Shop Nursing Supplies & Patient
                    Care</h1>
                <div class="category-grid">
                    <a class="category-grid__item" href="#">
                        <div class="category">
                            <img src="#" alt="category image">
                            <h3>Category</h3>
                        </div>
                    </a>
                    <a class="category-grid__item" href="#">
                        <div class="category">
                            <img src="#" alt="category image">
                            <h3>Category</h3>
                        </div>
                    </a>
                    <a class="category-grid__item" href="#">
                        <div class="category">
                            <img src="#" alt="category image">
                            <h3>Category</h3>
                        </div>
                    </a>
                    <a class="category-grid__item" href="#">
                        <div class="category">
                            <img src="#" alt="category image">
                            <h3>Category</h3>
                        </div>
                    </a>
                    <a class="category-grid__item" href="#">
                        <div class="category">
                            <img src="#" alt="category image">
                            <h3>Category</h3>
                        </div>
                    </a>
                    <a class="category-grid__item" href="#">
                        <div class="category">
                            <img src="#" alt="category image">
                            <h3>Category</h3>
                        </div>
                    </a>
                    <a class="category-grid__item" href="#">
                        <div class="category">
                            <img src="#" alt="category image">
                            <h3>Category</h3>
                        </div>
                    </a>
                    <a class="category-grid__item" href="#">
                        <div class="category">
                            <img src="#" alt="category image">
                            <h3>Category</h3>
                        </div>
                    </a>
                    <a class="category-grid__item" href="#">
                        <div class="category">
                            <img src="#" alt="category image">
                            <h3>Category</h3>
                        </div>
                    </a>
                    <a class="category-grid__item" href="#">
                        <div class="category">
                            <img src="#" alt="category image">
                            <h3>Category</h3>
                        </div>
                    </a>
                    <a class="category-grid__item" href="#">
                        <div class="category">
                            <img src="#" alt="category image">
                            <h3>Category</h3>
                        </div>
                    </a>
                    <a class="category-grid__item" href="#">
                        <div class="category">
                            <img src="#" alt="category image">
                            <h3>Category</h3>
                        </div>
                    </a>
                </div>
            </div>
        </section>
        <section class="top-browsed-items">
            {{!-- Shop popular categories --}}
            <div class="shop-popular-products container
                container--primary">
                <h2>Top Browsed Items In This Category</h2>
                <div class="product-list">
                    {{> cards/product-card-category }}
                    {{> cards/product-card-category }}
                    {{> cards/product-card-category }}
                    {{> cards/product-card-category }}
                </div>
            </div>
        </section>
        </span>

        <section class="shop-by-top-brands container container--blue">
            <h2>SHOP BY TOP BRANDS</h2>
            <div class="logo-list">
                <a href="#"><img width="85" src="https://i.ibb.co/HNCmVWP/png-logo.png" alt="P&G Logo"></a>
                <a href="#"><img width="163" height="47" src="https://i.ibb.co/nnZNgYf/hollister.png"
                        alt="Hollister Logo"></a>
                <a href="#"><img style="margin-bottom: 1rem; margin-right: 1rem;" width="166"
                        src="https://i.ibb.co/0F7wy3S/cardinal-health.png" alt="Cardinal Health Logo"></a>
                <a href="#"><img width="105" src="https://i.ibb.co/zR6H3nc/tena.png" alt="Tena Logo"></a>
                <a href="#"><img width="170" src="https://i.ibb.co/bsFp1K1/coloplast.png" alt="Coloplast logo"></a>
            </div>
        </section>

    </div>