<div class="home-loggedin">
	{{!-- Hero --}}
	{{> sections/home-loggedin/hero }}

	{{!-- Shop Popular (products/categories) --}}
	{{> sections/home-loggedin/shop-popular }}

	{{!-- Testimonials --}}
	{{> sections/home-loggedin/testimonials }}

	{{!-- About --}}
	{{> sections/home-loggedin/about }}
</div>
