<div class="home">
    {{!-- Hero --}}
    {{> sections/home/hero }}

    {{!-- Call to action --}}
    {{> sections/home/call-to-action }}

    {{!-- Testimonials --}}
    {{> sections/home/features-slideshow }}
</div>
