<div class="login-page container container--primary">
  <form class="form--primary login-form container--primary">
    <h1>Login to WCD Medical</h1>
    <div class="input-groups">
      <div class="input-group">
        <label for="email">Email</label>
        <input placeholder="Type your email here" type="email" name="email">
      </div>
      <div class="input-group">
        <label for="password">Password</label>
        <input placeholder="Type your password here" type="password" name="password">
      </div>
      <div class="button-group">
        <a href="/home-loggedin" class="button button--primary">Login</a>
        <a href="/register">Create Account</a>
        <a href="/register">Forgot Password?</a>
      </div>
    </div>
  </form>
</div>