<div class="login-security account-pages">
    <div class="breadcrumbs">Home > Your Account > Your Orders > Order Details</div>
    <div class="main">
        <h1>Login & Security</h1>
        <ul class="account-info">
            <li>
                <div class="info">
                    <b>Name:</b>
                    <span>Renee Fakename</span>
                </div>
                <div class="action">
                    <a href="#" class="button button--primary">
                        Edit
                    </a>
                </div>
            </li>
            <li>
                <div class="info">
                    <b>E-mail:</b>
                    <span>Renee.Fakename@fakecompany.com</span>
                </div>
                <div class="action">
                    <a href="#" class="button button--primary">
                        Edit
                    </a>
                </div>
            </li>
            <li>
                <div class="info">
                    <b>Mobile Phone Number:</b>
                    <span>+1-647-555-5555</span>
                </div>
                <div class="action">
                    <a href="#" class="button button--primary">
                        Edit
                    </a>
                </div>
            </li>
            <li>
                <div class="info">
                    <b>Password:</b>
                    <span>************</span>
                </div>
                <div class="action">
                    <a href="#" class="button button--primary">
                        Edit
                    </a>
                </div>
            </li>
            <li>
                <div class="info">
                    <b>Two-Step Verification (2SV) Settings:</b>
                    <span>Manage your Two Step Verification (2SV) Authenticators</span>
                </div>
                <div class="action">
                    <a href="#" class="button button--primary">
                        Edit
                    </a>
                </div>
            </li>
        </ul>
    </div>
</div>