<div class="my-addresses account-pages">
    <div class="breadcrumbs">Home > Your Account > Your Orders > Order Details</div>
    <div class="main">
        <h1>My Addresses</h1>
        <div class="border-top order-header">
            <div class='table-controls'><i><a><b>Add New Location</b><i class="plus-icon-outline">
                            <g id="mq-stencil-icon-b8be931d" fill="rgb(4, 14, 77)" stroke-width="0" stroke="none"
                                stroke-dasharray="none"><svg preserveAspectRatio="none" width="100%" viewBox="0 0 24 24"
                                    height="100%" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M13 7h-2v4H7v2h4v4h2v-4h4v-2h-4V7zm-1-5C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z">
                                    </path>
                                </svg></g>
                        </i></a></i>
            </div>
        </div>
        <div class="locations container container--light-gray">
            <div class="location">
                <g transform="matrix(1 0 0 1 118 444)" class="stencil"><svg width="50" height="50" x="0.5" y="0.5"
                        class="stencil--easier-to-select" style="opacity:
                            1;">
                        <defs></defs>
                        <rect x="0" y="0" width="50" height="50" fill="transparent" class="stencil__selection-helper">
                        </rect>
                        <style>
                            #mq-stencil-icon-4aea37cf * {
                                vector-effect: non-scaling-size;
                            }
                        </style>
                        <g id="mq-stencil-icon-4aea37cf" fill="rgb(0,0,0)" stroke-width="0" stroke="none"
                            stroke-dasharray="none"><svg preserveAspectRatio="none" width="100%" viewBox="0 0 24 24"
                                height="100%" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7
                                        13s7-7.75 7-13c0-3.87-3.13-7-7-7zM7
                                        9c0-2.76 2.24-5 5-5s5 2.24 5 5c0
                                        2.88-2.88 7.19-5 9.88C9.92 16.21 7 11.85
                                        7 9z"></path>
                                <circle r="2.5" cy="9" cx="12"></circle>
                            </svg></g>
                    </svg></g>
                <div class="location-content">
                    <h3 class="title">Bloor Street Location <span
                            class="button button--primary default-badge">Default</span></h3>
                    <span class="description">130 Bloor Street West,
                        Toronto, ontario, MSS 1N5</span>
                    <div>
                        <span>416-XXX-YYYY</span>
                    </div>
                </div>
                <div class="buttons">
                    <a href="#" class="button button--primary">Update</a>
                    <a href="#" class="button button--dark-gray">Delete</a>
                </div>
            </div>
            <div class="location">
                <g transform="matrix(1 0 0 1 118 444)" class="stencil"><svg width="50" height="50" x="0.5" y="0.5"
                        class="stencil--easier-to-select" style="opacity:
                            1;">
                        <defs></defs>
                        <rect x="0" y="0" width="50" height="50" fill="transparent" class="stencil__selection-helper">
                        </rect>
                        <style>
                            #mq-stencil-icon-4aea37cf * {
                                vector-effect: non-scaling-size;
                            }
                        </style>
                        <g id="mq-stencil-icon-4aea37cf" fill="rgb(0,0,0)" stroke-width="0" stroke="none"
                            stroke-dasharray="none"><svg preserveAspectRatio="none" width="100%" viewBox="0 0 24 24"
                                height="100%" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7
                                        13s7-7.75 7-13c0-3.87-3.13-7-7-7zM7
                                        9c0-2.76 2.24-5 5-5s5 2.24 5 5c0
                                        2.88-2.88 7.19-5 9.88C9.92 16.21 7 11.85
                                        7 9z"></path>
                                <circle r="2.5" cy="9" cx="12"></circle>
                            </svg></g>
                    </svg></g>
                <div class="location-content">
                    <h3 class="title">Bloor Street Location</h3>
                    <span class="description">130 Bloor Street West,
                        Toronto, ontario, MSS 1N5</span>
                    <div>
                        <span>416-XXX-YYYY</span>
                    </div>
                </div>
                <div class="buttons">
                    <a href="#" class="button button--primary">Update</a>
                    <a href="#" class="button button--primary">Make Default</a>
                    <a href="#" class="button button--dark-gray">Delete</a>
                </div>
            </div>
            <div class="location">
                <g transform="matrix(1 0 0 1 118 444)" class="stencil"><svg width="50" height="50" x="0.5" y="0.5"
                        class="stencil--easier-to-select" style="opacity:
                            1;">
                        <defs></defs>
                        <rect x="0" y="0" width="50" height="50" fill="transparent" class="stencil__selection-helper">
                        </rect>
                        <style>
                            #mq-stencil-icon-4aea37cf * {
                                vector-effect: non-scaling-size;
                            }
                        </style>
                        <g id="mq-stencil-icon-4aea37cf" fill="rgb(0,0,0)" stroke-width="0" stroke="none"
                            stroke-dasharray="none"><svg preserveAspectRatio="none" width="100%" viewBox="0 0 24 24"
                                height="100%" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7
                                        13s7-7.75 7-13c0-3.87-3.13-7-7-7zM7
                                        9c0-2.76 2.24-5 5-5s5 2.24 5 5c0
                                        2.88-2.88 7.19-5 9.88C9.92 16.21 7 11.85
                                        7 9z"></path>
                                <circle r="2.5" cy="9" cx="12"></circle>
                            </svg></g>
                    </svg></g>
                <div class="location-content">
                    <h3 class="title">Bloor Street Location</h3>
                    <span class="description">130 Bloor Street West,
                        Toronto, ontario, MSS 1N5</span>
                    <div>
                        <span>416-XXX-YYYY</span>
                    </div>
                </div>
                <div class="buttons">
                    <a href="#" class="button button--primary">Update</a>
                    <a href="#" class="button button--primary">Make Default</a>
                    <a href="#" class="button button--dark-gray">Delete</a>
                </div>
            </div>

            <div class="view-all-locations">
                <details>
                    <summary>View All Locations</summary>
                    <ul>
                        <li>Location 1</li>
                        <li>Location 2</li>
                        <li>Location 3</li>
                        <li>Location 4</li>
                        <li>Location 5</li>
                        <li>Location 6</li>
                    </ul>
                </details>
            </div>
        </div>
    </div>
</div>