<div class="categories nested-category">
    {{!-- Hero --}}
    {{> sections/nested-category/hero }}
    <section class="category-search-section">
        <div class="side-nav">
            <h2>
                Filter by
            </h2>
            <ul>
                <li>
                    <details>
                        <summary>Manufacturer</summary>
                        <div class="input-group">
                            <input class="checkbox-round" type="checkbox"
                                name="" id="">
                            <span>3M&nbsp;(x)</span>
                        </div>
                        <div class="input-group">
                            <input class="checkbox-round" type="checkbox"
                                name="" id="">
                            <span>Canadian Custom Packaging&nbsp;(x)</span>
                        </div>
                        <div class="input-group">
                            <input class="checkbox-round" type="checkbox"
                                name="" id="">
                            <span>Lernapharm&nbsp;(x)</span>
                        </div>
                        <div class="input-group">
                            <input class="checkbox-round" type="checkbox"
                                name="" id="">
                            <span>Omega Laboratories&nbsp;(x)</span>
                        </div>
                        <div class="input-group">
                            <input class="checkbox-round" type="checkbox"
                                name="" id="">
                            <span>3M&nbsp;(x)</span>
                        </div>
                        <div class="input-group">
                            <input class="checkbox-round" type="checkbox"
                                name="" id="">
                            <span>Canadian Custom Packaging&nbsp;(x)</span>
                        </div>
                        <div class="input-group">
                            <input class="checkbox-round" type="checkbox"
                                name="" id="">
                            <span>Lernapharm&nbsp;(x)</span>
                        </div>
                        <div class="input-group">
                            <input class="checkbox-round" type="checkbox"
                                name="" id="">
                            <span>Omega Laboratories&nbsp;(x)</span>
                        </div>
                    </details>
                </li>
                <li>
                    <details>
                        <summary>Sterility</summary>
                        <div class="input-group">
                            <input class="checkbox-round" type="checkbox"
                                name="" id="">
                            <span>3M&nbsp;(x)</span>
                        </div>
                        <div class="input-group">
                            <input class="checkbox-round" type="checkbox"
                                name="" id="">
                            <span>Canadian Custom Packaging&nbsp;(x)</span>
                        </div>
                        <div class="input-group">
                            <input class="checkbox-round" type="checkbox"
                                name="" id="">
                            <span>Lernapharm&nbsp;(x)</span>
                        </div>
                        <div class="input-group">
                            <input class="checkbox-round" type="checkbox"
                                name="" id="">
                            <span>Omega Laboratories&nbsp;(x)</span>
                        </div>
                        <div class="input-group">
                            <input class="checkbox-round" type="checkbox"
                                name="" id="">
                            <span>3M&nbsp;(x)</span>
                        </div>
                        <div class="input-group">
                            <input class="checkbox-round" type="checkbox"
                                name="" id="">
                            <span>Canadian Custom Packaging&nbsp;(x)</span>
                        </div>
                        <div class="input-group">
                            <input class="checkbox-round" type="checkbox"
                                name="" id="">
                            <span>Lernapharm&nbsp;(x)</span>
                        </div>
                        <div class="input-group">
                            <input class="checkbox-round" type="checkbox"
                                name="" id="">
                            <span>Omega Laboratories&nbsp;(x)</span>
                        </div>
                    </details>
                </li>
                <li>
                    <details>
                        <summary>Latex content</summary>
                        <div class="input-group">
                            <input class="checkbox-round" type="checkbox"
                                name="" id="">
                            <span>3M&nbsp;(x)</span>
                        </div>
                        <div class="input-group">
                            <input class="checkbox-round" type="checkbox"
                                name="" id="">
                            <span>Canadian Custom Packaging&nbsp;(x)</span>
                        </div>
                        <div class="input-group">
                            <input class="checkbox-round" type="checkbox"
                                name="" id="">
                            <span>Lernapharm&nbsp;(x)</span>
                        </div>
                        <div class="input-group">
                            <input class="checkbox-round" type="checkbox"
                                name="" id="">
                            <span>Omega Laboratories&nbsp;(x)</span>
                        </div>
                        <div class="input-group">
                            <input class="checkbox-round" type="checkbox"
                                name="" id="">
                            <span>3M&nbsp;(x)</span>
                        </div>
                        <div class="input-group">
                            <input class="checkbox-round" type="checkbox"
                                name="" id="">
                            <span>Canadian Custom Packaging&nbsp;(x)</span>
                        </div>
                        <div class="input-group">
                            <input class="checkbox-round" type="checkbox"
                                name="" id="">
                            <span>Lernapharm&nbsp;(x)</span>
                        </div>
                        <div class="input-group">
                            <input class="checkbox-round" type="checkbox"
                                name="" id="">
                            <span>Omega Laboratories&nbsp;(x)</span>
                        </div>
                    </details>
                </li>
                <li>
                    <details>
                        <summary>Colour</summary>
                        <div class="input-group">
                            <input class="checkbox-round" type="checkbox"
                                name="" id="">
                            <span>3M&nbsp;(x)</span>
                        </div>
                        <div class="input-group">
                            <input class="checkbox-round" type="checkbox"
                                name="" id="">
                            <span>Canadian Custom Packaging&nbsp;(x)</span>
                        </div>
                        <div class="input-group">
                            <input class="checkbox-round" type="checkbox"
                                name="" id="">
                            <span>Lernapharm&nbsp;(x)</span>
                        </div>
                        <div class="input-group">
                            <input class="checkbox-round" type="checkbox"
                                name="" id="">
                            <span>Omega Laboratories&nbsp;(x)</span>
                        </div>
                        <div class="input-group">
                            <input class="checkbox-round" type="checkbox"
                                name="" id="">
                            <span>3M&nbsp;(x)</span>
                        </div>
                        <div class="input-group">
                            <input class="checkbox-round" type="checkbox"
                                name="" id="">
                            <span>Canadian Custom Packaging&nbsp;(x)</span>
                        </div>
                        <div class="input-group">
                            <input class="checkbox-round" type="checkbox"
                                name="" id="">
                            <span>Lernapharm&nbsp;(x)</span>
                        </div>
                        <div class="input-group">
                            <input class="checkbox-round" type="checkbox"
                                name="" id="">
                            <span>Omega Laboratories&nbsp;(x)</span>
                        </div>
                    </details>
                </li>
                <li>
                    <details>
                        <summary>Brand</summary>
                        <div class="input-group">
                            <input class="checkbox-round" type="checkbox"
                                name="" id="">
                            <span>3M&nbsp;(x)</span>
                        </div>
                        <div class="input-group">
                            <input class="checkbox-round" type="checkbox"
                                name="" id="">
                            <span>Canadian Custom Packaging&nbsp;(x)</span>
                        </div>
                        <div class="input-group">
                            <input class="checkbox-round" type="checkbox"
                                name="" id="">
                            <span>Lernapharm&nbsp;(x)</span>
                        </div>
                        <div class="input-group">
                            <input class="checkbox-round" type="checkbox"
                                name="" id="">
                            <span>Omega Laboratories&nbsp;(x)</span>
                        </div>
                        <div class="input-group">
                            <input class="checkbox-round" type="checkbox"
                                name="" id="">
                            <span>3M&nbsp;(x)</span>
                        </div>
                        <div class="input-group">
                            <input class="checkbox-round" type="checkbox"
                                name="" id="">
                            <span>Canadian Custom Packaging&nbsp;(x)</span>
                        </div>
                        <div class="input-group">
                            <input class="checkbox-round" type="checkbox"
                                name="" id="">
                            <span>Lernapharm&nbsp;(x)</span>
                        </div>
                        <div class="input-group">
                            <input class="checkbox-round" type="checkbox"
                                name="" id="">
                            <span>Omega Laboratories&nbsp;(x)</span>
                        </div>
                    </details>
                </li>
            </ul>
        </div>

        <div class="browse-products">
            <div class="browse-controls">
                <div class="sort-products">
                    <span>
                        Sort Products by <i>Relevance</i> ▼
                    </span>
                </div>
                <div class="pagination">
                    <a class="page-button">1</a>
                    <a class="page-button">2</a>
                    <a class="page-button">3</a>
                    <a class="more-pages"> <g
                            id="mq-stencil-icon-a4013277" fill="rgba(94, 2,
                            2, 0.85)" stroke-width="0" stroke="none"
                            stroke-dasharray="none"><svg
                                preserveAspectRatio="none" width="1rem"
                                viewBox="0 0 24 24" height="1rem"
                                xmlns="http://www.w3.org/2000/svg"><path
                                    d="M7.38 21.01c.49.49 1.28.49 1.77
                                    0l8.31-8.31c.39-.39.39-1.02 0-1.41L9.15
                                    2.98c-.49-.49-1.28-.49-1.77 0s-.49 1.28
                                    0 1.77L14.62 12l-7.25 7.25c-.48.48-.48
                                    1.28.01 1.76z"></path></svg></g> </a>
                </div>
            </div>
            <ul class="product-group">
                <li class="product-card">
                    {{!-- <img src="#" alt="product image"> --}}
                    <g class="stencil" transform="matrix(1 0 0 1 330.837 1016)"><svg
                            width="105" height="100" x="0.5" y="0.5" class=""
                            style="opacity: 1;"><defs></defs><path d="M 0 0 H
                                105V 100H 0 V 0 Z M 0 0 L 105 100Z M 0 100 L 105
                                0 Z" stroke-width="1" stroke="rgb(0,0,0)"
                                stroke-dasharray="none" stroke-dashoffset="none"
                                fill="rgb(255,255,255)" fill-rule="evenOdd"></path></svg></g>
                    <details>
                        <summary>
                            <div class="breadcrumbs">
                                Canadian Custom Packaging
                            </div>
                            <h3><a href="/product-pages-loggedin">Alcohol 70%
                                    Pink 250ML 12EA/CA</a></h3>
                        </summary>
                        <div class="additional-information">
                            <p>Additional Information:</p>
                            <ul>
                                <li>
                                    <b>Colour: </b>Pink
                                </li>
                                <li>
                                    <b>Volume: </b>250ml
                                </li>
                                <li>
                                    <b>Feature/Property: </b>70%
                                    Alcohol
                                </li>
                            </ul>
                        </div>
                        <div class="catalogue-information">
                            <details>
                                <summary>
                                    <div>
                                        <b>Catalogue Number</b>
                                    </div>
                                    <div>COVP-WF2520761</div>
                                </summary>

                                <div class="catalogue-information">
                                    <ul class="container--gray">
                                        <li><span>Manufacturer Number:</span>F2520761</li>
                                        <li><span>Manufacturer Number:</span>F2520761</li>
                                        <li><span>Manufacturer Number:</span>F2520761</li>
                                    </ul>
                                </div>
                            </details>
                        </div>
                    </details>
                </li>
                <li class="product-card">
                    {{!-- <img src="#" alt="product image"> --}}
                    <g class="stencil" transform="matrix(1 0 0 1 330.837 1016)"><svg
                            width="105" height="100" x="0.5" y="0.5" class=""
                            style="opacity: 1;"><defs></defs><path d="M 0 0 H
                                105V 100H 0 V 0 Z M 0 0 L 105 100Z M 0 100 L 105
                                0 Z" stroke-width="1" stroke="rgb(0,0,0)"
                                stroke-dasharray="none" stroke-dashoffset="none"
                                fill="rgb(255,255,255)" fill-rule="evenOdd"></path></svg></g>
                    <details open>
                        <summary>

                            <div class="breadcrumbs">
                                Canadian Custom Packaging
                            </div>
                            <h3><a href="/product-pages-loggedin">Alcohol 70%
                                    Pink 250ML 12EA/CA</a></h3>
                        </summary>
                        <div class="additional-information">
                            <p>Additional Information:</p>
                            <ul>
                                <li>
                                    <b>Colour: </b>Pink
                                </li>
                                <li>
                                    <b>Volume: </b>250ml
                                </li>
                                <li>
                                    <b>Feature/Property: </b>70%
                                    Alcohol
                                </li>
                            </ul>
                        </div>
                        <div class="catalogue-info">
                            <details>
                                <summary>
                                    <div class="title">
                                        <b>Catalogue Number</b>
                                    </div>
                                    <div class="catalogue-number">COVP-WF2520761</div>
                                </summary>

                                <div class="manufacturer-info">
                                    <span class="triangle">
                                        &#9650;
                                    </span>
                                    <ul class="container--light-gray">
                                        <li><span>Manufacturer Number:</span>F2520761</li>
                                        <li><span>Invoice Description:</span>56565
                                            F2520761 F2520761 F2520761
                                            F2520761F2520761F2520761</li>
                                        <li><span>Manufacturer Number:</span>F2520761</li>
                                    </ul>
                                </div>
                            </details>
                        </div>
                    </details>
                </li>
                <li class="product-card">
                    {{!-- <img src="#" alt="product image"> --}}
                    <g class="stencil" transform="matrix(1 0 0 1 330.837 1016)"><svg
                            width="105" height="100" x="0.5" y="0.5" class=""
                            style="opacity: 1;"><defs></defs><path d="M 0 0 H
                                105V 100H 0 V 0 Z M 0 0 L 105 100Z M 0 100 L 105
                                0 Z" stroke-width="1" stroke="rgb(0,0,0)"
                                stroke-dasharray="none" stroke-dashoffset="none"
                                fill="rgb(255,255,255)" fill-rule="evenOdd"></path></svg></g>
                    {{!-- Left open to display the contents and match the
                    wireframe --}}
                    <details open>
                        <summary>

                            <div class="breadcrumbs">
                                Canadian Custom Packaging
                            </div>
                            <h3><a href="/product-pages-loggedin">Alcohol 70%
                                    Pink 250ML 12EA/CA</a></h3>
                        </summary>
                        <div class="additional-information">
                            <p>Additional Information:</p>
                            <ul>
                                <li>
                                    <b>Colour: </b>Pink
                                </li>
                                <li>
                                    <b>Volume: </b>250ml
                                </li>
                                <li>
                                    <b>Feature/Property: </b>70%
                                    Alcohol
                                </li>
                            </ul>
                        </div>
                        <div class="catalogue-info">
                            {{!-- Left open to display the contents and match
                            the wireframe --}}
                            <details open>
                                <summary>
                                    <div class="title">
                                        <b>Catalogue Number</b>
                                    </div>
                                    <div class="catalogue-number">COVP-WF2520761</div>
                                </summary>

                                <div class="manufacturer-info">
                                    <span class="triangle">
                                        &#9650;
                                    </span>
                                    <ul class="container--light-gray">
                                        <li><span>Manufacturer Number:</span>F2520761</li>
                                        <li><span>Invoice Description:</span>56565
                                            F2520761 F2520761 F2520761
                                            F2520761F2520761F2520761</li>
                                        <li><span>Manufacturer Number:</span>F2520761</li>
                                    </ul>
                                </div>
                            </details>
                        </div>
                    </details>
                </li>
            </ul>
            <div class="browse-controls">
                <div class="sort-products">
                    <span>
                        Sort Products by <i>Relevance</i> ▼
                    </span>
                </div>
                <div class="pagination">
                    <a class="page-button">1</a>
                    <a class="page-button">2</a>
                    <a class="page-button">3</a>
                    <a class="more-pages"> <g
                            id="mq-stencil-icon-a4013277" fill="rgba(94, 2,
                            2, 0.85)" stroke-width="0" stroke="none"
                            stroke-dasharray="none"><svg
                                preserveAspectRatio="none" width="1rem"
                                viewBox="0 0 24 24" height="1rem"
                                xmlns="http://www.w3.org/2000/svg"><path
                                    d="M7.38 21.01c.49.49 1.28.49 1.77
                                    0l8.31-8.31c.39-.39.39-1.02 0-1.41L9.15
                                    2.98c-.49-.49-1.28-.49-1.77 0s-.49 1.28
                                    0 1.77L14.62 12l-7.25 7.25c-.48.48-.48
                                    1.28.01 1.76z"></path></svg></g> </a>
                </div>
            </div>
        </div>
    </section>