<div class="order-details account-pages">
    <div class="breadcrumbs">Home > Your Account > Your Orders > Order Details</div>
    <div class="main">
        <h1>Order Details</h1>
        {{! Order details }}
        <div class="border-top order-header">
            <ul>
                <li>Ordered on June 1st, 2022</li>
                <li>Order# 00001</li>
                <li>WCD-Global, Inc.</li>
                <li>GST/HST - XXXXXXXX</li>
                <li>QST - XXXXXXXX</li>
                <li>Items Shipped: June 5th, 2022 </li>
            </ul>
            <a href="">
                <i>
                    Printable Order Summary
                </i>
            </a>
        </div>
        <ul class="payment-details container--light-gray">
            <li class="payment-details-row">
                <span>Shipping Address</span>
                <span>Payment Method</span>
                <span>Order Summary</span>
            </li>
            <li class="payment-details-row">
                <div>
                    <p>Mashariki Cohen</p>
                    <p>BIG CONMPANY INC</p>
                    <p>55 Colbeck Street</p>
                    <p>Toronto, Ontario M6S 1T8</p>
                    <p>Canada</p>
                </div>
                <div class="align-top">
                    <img width="70" height="46.67"
                        src="https://images.moqups.com/repo/Jpo0zac5YT2Oh4NLCmZaLoNsZwrEbJqP/p_gdqJUpVSwxYQF118rp18oas8mFnIzfV9/YUv2MIjVV3D3KhSNQXzn58MMuui8MF2Y.png?Expires=1679493170&Key-Pair-Id=K1TPUF1X6HKIYU&Signature=OniWtJBJ61quEpUMYw4t3pe~BE038yPk1vsPtYp4XtEaQiddC0q~f3Jb~69PF1j5aHtqWUubPlYoH7mMYOESjHyJ5AYRKKibuWRgMlMTlnHZ3Zf1y108Gx4MUO7g~CbpDMuanWuPWgt~ANQQpVlKJLmpj~TAUwzo7tZQ-CBgzkq210zrzpO~ghufYmMzh~0qJ3ZYvT2a7A5pxdsHcGoIDgKtPXxC~nPAeVB5KazyoxF~P7Ovd8Z-CzK4tm~bW5iLXBVHOBexXSn0iWzVoeOmHtDIj2IWN7FbpcZveabKRi4E45NUpjA43BESUOqHs9dfqB7jrlcxONMNqNyb7ME3uw__"
                        alt="American Express">
                    <span>**** 5555</span>
                </div>
                <ul class="order-summary">
                    <li>
                        <span>Item(s) Subtotal:</span>
                        <span>CDN$650.00</span>
                    </li>
                    <li>
                        <span>Shipping & Handling:</span>
                        <span>CDN$0.00</span>
                    </li>
                    <li>
                        <span>Total before tax:</span>
                        <span>CDN$650.00</span>
                    </li>
                    <li>
                        <span>Estimated GST/HST:</span>
                        <span>CDN$75.00</span>
                    </li>
                    <li>
                        <span>Estimated PST/RST/QST:</span>
                        <span>CDN$0.00</span>
                    </li>
                    <li class="grand-total">
                        <span>Grand Total:</span>
                        <span>CDN$725.00</span>
                    </li>
                </ul>
            </li>
        </ul>
        <hr>
        <div class="past-orders container--light-gray">
            <b>Delivered: June 10th, 2022</b>
            <div class="content">
                <ul class="items">
                    <li class="item">
                        <img src="" alt="product image placeholder">
                        <div class="item-content">
                            <h4 class="subsidiary">Canadian Custom Packaging</h4>
                            <h3 class="title">BZK ANTISEPTIC TOWELETTE</h3>
                            <span class="description">TOWELETTE ANTISEPTIC BZK
                                HLTHCARE PLUS 100EA/BX 10BX/CA</span>
                            <span class="price">$XXX</span>
                        </div>
                    </li>
                    <li class="item">
                        <img src="" alt="product image placeholder">
                        <div class="item-content">
                            <h4 class="subsidiary">Canadian Custom Packaging</h4>
                            <h3 class="title">BZK ANTISEPTIC TOWELETTE</h3>
                            <span class="description">TOWELETTE ANTISEPTIC BZK
                                HLTHCARE PLUS 100EA/BX 10BX/CA</span>
                            <span class="price">$XXX</span>
                        </div>
                    </li>
                </ul>
                <ul class="actions">
                    <li>
                        <a class="button button--primary">
                            Get product support
                        </a>
                    </li>
                    <li>
                        <a class="button button--primary">
                            Return or replace items
                        </a>
                    </li>
                    <li>
                        <a class="button button--primary">
                            Reorder in full
                        </a>
                    </li>
                    <li>
                        <a class="button button--dark-gray">
                            Track package
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>