<div class="payment-methods account-pages">
    <div class="breadcrumbs">Home > Your Account > Payment Methods & Credit</div>
    <div class="main">
        <h1>Payment Methods & Credit</h1>

        {{! Blue Cards with Icons }}
        <div class="border-top">
            <h2>Wallet</h2>
            <div class="cards">
                <div class="tabbed">
                    <input type="radio" id="tab21" name="css-tabs2" checked />
                    <input type="radio" id="tab22" name="css-tabs2" />
                    <input type="radio" id="tab23" name="css-tabs2" />

                    <ul class="tabs">
                        <li class="tab">
                            <label for="tab21">
                                <div class="card-image">
                                    <img src="https://images.moqups.com/repo/Jpo0zac5YT2Oh4NLCmZaLoNsZwrEbJqP/p_gdqJUpVSwxYQF118rp18oas8mFnIzfV9/IuVsu5iWCipJxV2k8eDk63KrTHCwOYsB/b3IISlrQg96I2no0RpKKfQ8Z1THrhz35/TMG4bmtzprwMG6j8c0MWZqV4cnMfuGzy.jpg?Expires=1679493170&Key-Pair-Id=K1TPUF1X6HKIYU&Signature=KNXm2rGpY2dkwF3eqI4S30nJQ1kjvEU~VEraBjh4Gg-17qgjbzutNgg6lJ6TY5pze5JwB5ijTDn-s4XIeI0e2LaP9WwEcVCpmoMpDrJQEkvMFExFb-q21uiKMUdKh0vj6nCC8~jwtXtvMK82~V4Tzhkval6fFx7I4RwE4-ckuSB1zuzqMfnjZl08myMKIopQap9NhoJ5dCvTnr1OI5IwtGusSpEEpI653nEAGsEqL-3NBhAmrQP2RYMr~ScOj6aJPXAq0JvqdvH1ALr9GBMLjx19Wm2xsbySYuMGOOlFjtB8aowA265-a8Z9hxTON9fHISNA4SuuaoL131eSZnTDKw__"
                                        alt="American Express">
                                    <span class="badge">
                                        Default
                                    </span>
                                </div>
                                <div class="card-summary">
                                    <b>American Express</b>
                                    <span>Credit card ending in 5555.</span>
                                </div>
                            </label>
                        </li>
                        <li class="tab">
                            <label for="tab22">
                                <div class="card-image">
                                    <img src="https://images.moqups.com/repo/Jpo0zac5YT2Oh4NLCmZaLoNsZwrEbJqP/p_gdqJUpVSwxYQF118rp18oas8mFnIzfV9/IuVsu5iWCipJxV2k8eDk63KrTHCwOYsB/b3IISlrQg96I2no0RpKKfQ8Z1THrhz35/TMG4bmtzprwMG6j8c0MWZqV4cnMfuGzy.jpg?Expires=1679493170&Key-Pair-Id=K1TPUF1X6HKIYU&Signature=KNXm2rGpY2dkwF3eqI4S30nJQ1kjvEU~VEraBjh4Gg-17qgjbzutNgg6lJ6TY5pze5JwB5ijTDn-s4XIeI0e2LaP9WwEcVCpmoMpDrJQEkvMFExFb-q21uiKMUdKh0vj6nCC8~jwtXtvMK82~V4Tzhkval6fFx7I4RwE4-ckuSB1zuzqMfnjZl08myMKIopQap9NhoJ5dCvTnr1OI5IwtGusSpEEpI653nEAGsEqL-3NBhAmrQP2RYMr~ScOj6aJPXAq0JvqdvH1ALr9GBMLjx19Wm2xsbySYuMGOOlFjtB8aowA265-a8Z9hxTON9fHISNA4SuuaoL131eSZnTDKw__"
                                        alt="American Express">
                                    <span class="badge expired">
                                        Expired
                                    </span>
                                </div>

                                <div class="card-summary">
                                    <b>Visa</b>
                                    <span>Credit card ending in 5555.</span>
                                </div>
                            </label>
                        </li>
                        <li class="tab">
                            <label for="tab23">
                                <div class="card-image">
                                    <img src="https://images.moqups.com/repo/Jpo0zac5YT2Oh4NLCmZaLoNsZwrEbJqP/p_gdqJUpVSwxYQF118rp18oas8mFnIzfV9/IuVsu5iWCipJxV2k8eDk63KrTHCwOYsB/b3IISlrQg96I2no0RpKKfQ8Z1THrhz35/TMG4bmtzprwMG6j8c0MWZqV4cnMfuGzy.jpg?Expires=1679493170&Key-Pair-Id=K1TPUF1X6HKIYU&Signature=KNXm2rGpY2dkwF3eqI4S30nJQ1kjvEU~VEraBjh4Gg-17qgjbzutNgg6lJ6TY5pze5JwB5ijTDn-s4XIeI0e2LaP9WwEcVCpmoMpDrJQEkvMFExFb-q21uiKMUdKh0vj6nCC8~jwtXtvMK82~V4Tzhkval6fFx7I4RwE4-ckuSB1zuzqMfnjZl08myMKIopQap9NhoJ5dCvTnr1OI5IwtGusSpEEpI653nEAGsEqL-3NBhAmrQP2RYMr~ScOj6aJPXAq0JvqdvH1ALr9GBMLjx19Wm2xsbySYuMGOOlFjtB8aowA265-a8Z9hxTON9fHISNA4SuuaoL131eSZnTDKw__"
                                        alt="American Express">
                                    <span class="badge expired">
                                        Expired
                                    </span>
                                </div>
                                <div class="card-summary">
                                    <b>Visa</b>
                                    <span>Credit card ending in 5555.</span>
                                </div>
                            </label>
                        </li>
                        <li class="add-payment-method">
                            <div class="plus-icon-wrapper">
                                <div class="plus-icon-outline">
                                    <g id="mq-stencil-icon-b8be931d" fill="rgb(4, 14, 77)" stroke-width="0"
                                        stroke="none" stroke-dasharray="none"><svg preserveAspectRatio="none"
                                            width="100%" viewBox="0 0 24 24" height="100%"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M13 7h-2v4H7v2h4v4h2v-4h4v-2h-4V7zm-1-5C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z">
                                            </path>
                                        </svg></g>
                                </div>
                            </div>
                            <a href="#">
                                Add a payment method
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-left">
                            <div class="card-image">
                                <img src="https://images.moqups.com/repo/Jpo0zac5YT2Oh4NLCmZaLoNsZwrEbJqP/p_gdqJUpVSwxYQF118rp18oas8mFnIzfV9/IuVsu5iWCipJxV2k8eDk63KrTHCwOYsB/b3IISlrQg96I2no0RpKKfQ8Z1THrhz35/TMG4bmtzprwMG6j8c0MWZqV4cnMfuGzy.jpg?Expires=1679493170&Key-Pair-Id=K1TPUF1X6HKIYU&Signature=KNXm2rGpY2dkwF3eqI4S30nJQ1kjvEU~VEraBjh4Gg-17qgjbzutNgg6lJ6TY5pze5JwB5ijTDn-s4XIeI0e2LaP9WwEcVCpmoMpDrJQEkvMFExFb-q21uiKMUdKh0vj6nCC8~jwtXtvMK82~V4Tzhkval6fFx7I4RwE4-ckuSB1zuzqMfnjZl08myMKIopQap9NhoJ5dCvTnr1OI5IwtGusSpEEpI653nEAGsEqL-3NBhAmrQP2RYMr~ScOj6aJPXAq0JvqdvH1ALr9GBMLjx19Wm2xsbySYuMGOOlFjtB8aowA265-a8Z9hxTON9fHISNA4SuuaoL131eSZnTDKw__"
                                    alt="American Express">
                                <span class="badge">
                                    Default
                                </span>
                                <div class="customer-info">
                                    <span>XXXX 5555</span>
                                    <span>FIRST NAME LAST NAME</span>
                                </div>
                            </div>
                        </div>
                        <div class="card-info">
                            <h4>American Express</h4>
                            <p>Credit card ending in 5555.</p>
                            <a href="#">Edit</a>
                        </div>
                    </div>
                    <div class="tab-content">
                        <div class="tab-left">
                            <div class="card-image">
                                <img src="https://images.moqups.com/repo/Jpo0zac5YT2Oh4NLCmZaLoNsZwrEbJqP/p_gdqJUpVSwxYQF118rp18oas8mFnIzfV9/IuVsu5iWCipJxV2k8eDk63KrTHCwOYsB/b3IISlrQg96I2no0RpKKfQ8Z1THrhz35/TMG4bmtzprwMG6j8c0MWZqV4cnMfuGzy.jpg?Expires=1679493170&Key-Pair-Id=K1TPUF1X6HKIYU&Signature=KNXm2rGpY2dkwF3eqI4S30nJQ1kjvEU~VEraBjh4Gg-17qgjbzutNgg6lJ6TY5pze5JwB5ijTDn-s4XIeI0e2LaP9WwEcVCpmoMpDrJQEkvMFExFb-q21uiKMUdKh0vj6nCC8~jwtXtvMK82~V4Tzhkval6fFx7I4RwE4-ckuSB1zuzqMfnjZl08myMKIopQap9NhoJ5dCvTnr1OI5IwtGusSpEEpI653nEAGsEqL-3NBhAmrQP2RYMr~ScOj6aJPXAq0JvqdvH1ALr9GBMLjx19Wm2xsbySYuMGOOlFjtB8aowA265-a8Z9hxTON9fHISNA4SuuaoL131eSZnTDKw__"
                                    alt="American Express">
                                <span class="badge expired">
                                    Expired
                                </span>
                                <div class="customer-info">
                                    <span>XXXX 5555</span>
                                    <span>FIRST NAME LAST NAME</span>
                                </div>
                            </div>
                        </div>
                        <div class="card-info">
                            <h4>American Express</h4>
                            <p>Credit card ending in 5555.</p>
                            <a href="#">Edit</a>
                        </div>
                    </div>
                    <div class="tab-content">
                        <div class="tab-left">
                            <div class="card-image">
                                <img src="https://images.moqups.com/repo/Jpo0zac5YT2Oh4NLCmZaLoNsZwrEbJqP/p_gdqJUpVSwxYQF118rp18oas8mFnIzfV9/IuVsu5iWCipJxV2k8eDk63KrTHCwOYsB/b3IISlrQg96I2no0RpKKfQ8Z1THrhz35/TMG4bmtzprwMG6j8c0MWZqV4cnMfuGzy.jpg?Expires=1679493170&Key-Pair-Id=K1TPUF1X6HKIYU&Signature=KNXm2rGpY2dkwF3eqI4S30nJQ1kjvEU~VEraBjh4Gg-17qgjbzutNgg6lJ6TY5pze5JwB5ijTDn-s4XIeI0e2LaP9WwEcVCpmoMpDrJQEkvMFExFb-q21uiKMUdKh0vj6nCC8~jwtXtvMK82~V4Tzhkval6fFx7I4RwE4-ckuSB1zuzqMfnjZl08myMKIopQap9NhoJ5dCvTnr1OI5IwtGusSpEEpI653nEAGsEqL-3NBhAmrQP2RYMr~ScOj6aJPXAq0JvqdvH1ALr9GBMLjx19Wm2xsbySYuMGOOlFjtB8aowA265-a8Z9hxTON9fHISNA4SuuaoL131eSZnTDKw__"
                                    alt="American Express">
                                <span class="badge expired">
                                    Expired
                                </span>
                                <div class="customer-info">
                                    <span>XXXX 5555</span>
                                    <span>FIRST NAME LAST NAME</span>
                                </div>
                            </div>
                        </div>
                        <div class="card-info">
                            <h4>American Express</h4>
                            <p>Credit card ending in 5555.</p>
                            <a href="#">Edit</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="border-top approval-section">
            <h2>Pre Approved Credit</h2>
            <div class="approval">
                <div class="approval-info">
                    <p>Approved Threshold: $30,000</p>
                    <p>Available Credit: $17,250</p>
                </div>
                <a href="#">
                    <div class="blue-card container--secondary">
                        <div class="icon">
                            <g transform="matrix(1 0 0 1 658 617)" class="stencil"><svg width="40" height="40" x="0.5"
                                    y="0.5" class="stencil--easier-to-select" style="opacity: 1;">
                                    <defs></defs>
                                    <rect x="0" y="0" width="40" height="40" fill="transparent"
                                        class="stencil__selection-helper"></rect>
                                    <style>
                                        #mq-stencil-icon-14b7bde7 * {
                                            vector-effect: non-scaling-size;
                                        }
                                    </style>
                                    <g id="mq-stencil-icon-14b7bde7" fill="rgb(255, 255, 255)" stroke-width="0"
                                        stroke="none" stroke-dasharray="none"><svg preserveAspectRatio="none"
                                            width="100%" viewBox="0 0 24 24" height="100%"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M6.5 10h-2v7h2v-7zm6 0h-2v7h2v-7zm8.5 9H2v2h19v-2zm-2.5-9h-2v7h2v-7zm-7-6.74L16.71 6H6.29l5.21-2.74m0-2.26L2 6v2h19V6l-9.5-5z">
                                            </path>
                                        </svg></g>
                                </svg></g>
                        </div>
                        <div>
                            <b>Request An Increase</b>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>