{{!-- <div class="categories"> --}}
    {{!-- Hero --}}
    {{!-- {{> sections/categories/hero }} --}}
    <div class="bg-image">
        {{!-- <section class="category-search-section">

            <div class="subcategory">
                <h2 class="subcategory__title">Shop Nursing Supplies & Patient
                    Care</h2>
                <div class="category-grid">
                    <a class="category-grid__item" href="#">
                        <div class="category">
                            <img src="#" alt="category image">
                            <h3>Category</h3>
                        </div>
                    </a>
                    <a class="category-grid__item" href="#">
                        <div class="category">
                            <img src="#" alt="category image">
                            <h3>Category</h3>
                        </div>
                    </a>
                    <a class="category-grid__item" href="#">
                        <div class="category">
                            <img src="#" alt="category image">
                            <h3>Category</h3>
                        </div>
                    </a>
                    <a class="category-grid__item" href="#">
                        <div class="category">
                            <img src="#" alt="category image">
                            <h3>Category</h3>
                        </div>
                    </a>
                    <a class="category-grid__item" href="#">
                        <div class="category">
                            <img src="#" alt="category image">
                            <h3>Category</h3>
                        </div>
                    </a>
                    <a class="category-grid__item" href="#">
                        <div class="category">
                            <img src="#" alt="category image">
                            <h3>Category</h3>
                        </div>
                    </a>
                    <a class="category-grid__item" href="#">
                        <div class="category">
                            <img src="#" alt="category image">
                            <h3>Category</h3>
                        </div>
                    </a>
                    <a class="category-grid__item" href="#">
                        <div class="category">
                            <img src="#" alt="category image">
                            <h3>Category</h3>
                        </div>
                    </a>
                    <a class="category-grid__item" href="#">
                        <div class="category">
                            <img src="#" alt="category image">
                            <h3>Category</h3>
                        </div>
                    </a>
                    <a class="category-grid__item" href="#">
                        <div class="category">
                            <img src="#" alt="category image">
                            <h3>Category</h3>
                        </div>
                    </a>
                    <a class="category-grid__item" href="#">
                        <div class="category">
                            <img src="#" alt="category image">
                            <h3>Category</h3>
                        </div>
                    </a>
                    <a class="category-grid__item" href="#">
                        <div class="category">
                            <img src="#" alt="category image">
                            <h3>Category</h3>
                        </div>
                    </a>
                </div>
            </div>
        </section> --}}
        <section class="section--saved-list">
            <div class="container-2 w-container">
                <div>
                    <div class="wf-section--private-list">
                        <h1 class="heading">List Name</h1>
                        <div class="createdBy--private-list">Created By: PERSON NAME<br>Last Updated: September 20th,
                            2022<br>Private List<br><br>&zwj;
                        </div>
                    </div>
                    <div class="section-2 wf-section">
                        <div class="w-form">
                            <form id="wf-form-" name="wf-form-" data-name="" method="get" class="form"
                                aria-label="Form"><input type="text" class="search-product" maxlength="256"
                                    name="field-3" data-name="Field 3" placeholder="Search products here" id="field-3"
                                    required="">
                                <input type="text" class="qty--private-list w-input" maxlength="256" name="Oty"
                                    data-name="Oty" placeholder="Qty" id="Oty" required="">
                                <select id="Box" name="Box" data-name="Box" class="box--private-list">
                                    <option value="">Box</option>
                                    <option value="First">First choice</option>
                                    <option value="Second">Second choice</option>
                                    <option value="Third">Third choice</option>
                                </select>
                                <a href="#" class="button button--dark-gray">Add To List</a><a href="#"
                                    class="button button--primary">ADD&nbsp;LIST&nbsp;TO&nbsp;CURRENT&nbsp;ORDER</a>
                            </form>
                            {{!-- <div class="w-form-done" tabindex="-1" role="region" aria-label="Form success">
                                <div>Thank you! Your submission has been received!</div>
                            </div>
                            <div class="w-form-fail" tabindex="-1" role="region" aria-label="Form failure">
                                <div>Oops! Something went wrong while submitting the form.</div>
                            </div> --}}
                        </div>
                    </div>

                    <div class="grid-container">
                        <div class="item--private">
                            <img src="" alt="product image placeholder">
                            <div class="item-content">
                                <h4 class="title">Canadian Custom Packaging</h4>
                                <div>
                                <h3 class="subtitle">BZK ANTISEPTIC TOWELETTE</h3>
                                <span class="description">TOWELETTE ANTISEPTIC BZK
                                    HLTHCARE PLUS 100EA/BX 10BX/CA</span>

                                <div class="catalog-section">
                                    <div class="catalog-number">
                                        <h4>Catalog Number</h4>
                                        <span>BZK100</span>

                                    </div>
                                    <div class="manufacturer-number">
                                        <h4>Manufacturer Number</h4>
                                        <span>F2520761</span>
                                    </div>
                                 <div style="margin-top:5%;">
                                        <a href="#"
                                    class="button button--primary">ADD&nbsp;TO&nbsp;CURRENT&nbsp;ORDER</a>
                                 </div>
                                </div>

</div>
                            </div>
                            <div class="subtitle-content">
                                <div class="quantity">
                                    <input type="number" value="1" />
                                </div>
                                <div>
                                    <select id="Box" name="Box" data-name="Box" class="box--private-list">
                                        <option value="">Box</option>
                                        <option value="First">First choice</option>
                                        <option value="Second">Second choice</option>
                                        <option value="Third">Third choice</option>
                                    </select>
                                </div>
                                          <div class="price">$XXX</div>
                            </div>
                     
                        </div>


                    </div>
                </div>

            </div>
    </div>
    </section>


</div>
{{!-- </div> --}}