<div class="product-page-loggedin">
    {{> misc/breadcrumbs}}
    <div class="product">
        <div class="product-image--wrapper">
            <img src="https://images.moqups.com/repo/Jpo0zac5YT2Oh4NLCmZaLoNsZwrEbJqP/p_gdqJUpVSwxYQF118rp18oas8mFnIzfV9/Czhrz1x9lGem99zetGk3p6hrHZYiJx0Z.jpg?Expires=1678226422&Key-Pair-Id=K1TPUF1X6HKIYU&Signature=Zhqzqv5We4ohBArZojD0mJOOy5vldSVyum-3j-hbHm5F3vpj5o6SzELE9Ng65GoXVlANWd-i2iMEZHQquM0SqOBLfKUT3LrJjN7Xg~rms8l3p0RSpIMNfF0XyWTvw0~TicgH9dDnYwEGXVYlY49n~kV5KufIBkqxJ6-6LXVYFozxaGcLcl16w1XXWvlVNcatSWMLa3bm2GdlXyRxo65smUVAAzOatNbAej7I2T40uF6UJTgPfdW71uP3c7qIM0P68J3zQsBwwJB-xFmTbcOd1ovua1KAj59oAapOUWy29dyoV~chCwHPsuIjLVT1GTfA~JSfYICuNeQAgJH2g2exNA__"
                class="product-image" alt="product image">
        </div>
        <div class="product-info">
            <div class="product-header">
                <span>Canadian Custom Packaging</span>
                <h1>BZK Antiseptic Towelette</h1>
                <b>Available for Recurring Orders</b>
            </div>
            <div class="product-details">
                <div>Additional Information: </div>
                <ul>
                    <li><b>Manufacturer Number:</b> 0.13% Benzalkonium Chloride</li>
                    <li><b>Sterility:</b> Sterile</li>
                    <li><b>Latex content:</b> Latex-Free</li>
                    <li><b>Length:</b> 8"</li>
                    <li><b>Width:</b> 5"</li>
                </ul>

                <div class="pricing">
                    <h2>$250/Case (example)</h2>
                    <div class="quantity-wrapper">
                        <label for="quantity">Quantity</label>
                        <select name="quantity">
                            <option>
                                1
                            </option>
                            <option>
                                2
                            </option>
                            <option>
                                3
                            </option>
                        </select>
                    </div>
                    <div class="add-to-cart-wrapper">
                        <a href="#" class="button button--primary">
                            Add to Cart
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class=" catalogue-info-wrapper">
        {{> misc/catalogue-info }}
    </div>
</div>