<div class="registration-page container container--primary">
    <form class="registration-form form--primary container--primary">
        <h1>Create Account</h1>
        <span>
            Fill in to register your company.<br>We will be in contact within 24
            hours.
        </span>
        <div class="input-groups">
            <div class="input-group">
                <label for="first-name">First Name</label>
                <input placeholder="Type your first name here" type="text" name="first-name" id="">
            </div>
            <div class="input-group">
                <label for="last-name">Last Name</label>
                <input placeholder="Type your last name here" type="text" name="last-name" id="">
            </div>
            <div class="input-group">
                <label for="email">Email</label>
                <input placeholder="Type your email here" type="email" name="email" id="">
            </div>
            <div class="input-group">
                <label for="organization">Organization</label>
                <input placeholder="Type your organization name here" type="text" name="organization" id="">
            </div>
            <div class="input-group">
                <label for="organization">Business Type</label>
                <input placeholder="IE: Dental Clinic" type="text" name="business-type" id="">
            </div>
            <div class="input-group">
                <label for="phone">Telephone</label>
                <input placeholder="Phone number" type="tel" name="phone" id="">
            </div>
            <div class="button-group">
                <a href="/login" class="login-link">Log In Instead</a>
                <a href="/" class="button button--primary">Next</a>
            </div>
        </div>
    </form>
</div>