<div class="saved-lists account-pages">
    <div class="breadcrumbs">Home > Your Account > Your Orders > Order Details</div>
    <div class="main">
        <h1>Saved Lists</h1>
        <div class="border-top header">
            <p>Use saved lists to streamline your ordering process by creating or uploading a predefined set of
                products.</p>
        </div>
        <div class="container--light-gray">
            <div class="buttons">
                <a class="button button--primary">Create List</a>
                <a class="button button--primary">Upload List</a>
            </div>
            <table>
                <thead>
                    <th colspan="295">Name</th>
                    <th colspan="97">Items</th>
                    <th colspan="121">Last Update</th>
                    <th colspan="111">Actions</th>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="295">AAA</td>
                        <td colspan="97">50</td>
                        <td colspan="121">December 10, 2023</td>
                        <td colspan="111">
                            <div><a href="#">Edit</a></div>
                            <div><a href="#">Delete</a></div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="295">AAA</td>
                        <td colspan="97">50</td>
                        <td colspan="121">December 10, 2023</td>
                        <td colspan="111">
                            <div><a href="#">Edit</a></div>
                            <div><a href="#">Delete</a></div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="295">AAA</td>
                        <td colspan="97">50</td>
                        <td colspan="121">December 10, 2023</td>
                        <td colspan="111">
                            <div><a href="#">Edit</a></div>
                            <div><a href="#">Delete</a></div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="295">DDD</td>
                        <td colspan="97">12345</td>
                        <td colspan="121">December 10, 2023</td>
                        <td colspan="111">
                            <div><a href="#">Edit</a></div>
                            <div><a href="#">Delete</a></div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>