<div class="subcategories">
    {{!-- Hero --}}
    {{> sections/subcategories/hero }}
    <div class="subcategories--grid">
        <a href="nested-category"><div class="subcategory-card
                container--secondary">
                <div>> Alcohol</div>
                <span>* See all products</span>
            </div></a>
        <a href="nested-category"><div class="subcategory-card
                container--secondary">
                <div>> Benzalkonium Towalettes</div>
                <span>* See all products</span>
            </div></a>
        <a href="nested-category"><div class="subcategory-card
                container--secondary">
                <div>> Hydrogen Proxide</div>
                <span>* See all products</span>
            </div></a>
        <a href="nested-category"><div class="subcategory-card
                container--secondary">
                <div>> Povidone Iodine</div>
                <span>* See all products</span>
            </div></a>
    </div>
</div>
