.subcategories {
  width: 100%;
  .hero-section {
    height: 10rem;
    background-image: url('https://i.ibb.co/qD34hRZ/Sub-Category-Pages-3.png');
    background-size: 100%;
    background-repeat: no-repeat;
  }
  &--grid {
    display: grid;
    width: 100%;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 8rem;
    padding: 1rem;

    grid-template-columns: repeat(auto-fill, 20rem);
    gap: 1rem;
    .subcategory-card {
      text-align: left;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      font-weight: 600;
      //width: 100%;
      //width: 3rem;
    }
  }
}
