<div class='footer container' style="background-image: url('images/footer/footer.png')">
  <div class='footer-links'>

    <div>
      <a href='/' id='logo'><img src='images/logos/logo-horizontal-white.png' alt='wcd logo' width='80%' /></a>
    </div>
    <ul>
      <li><a href="/privacy-policy">Privacy Policy</a></li>
      <li><a>Terms of Use</a></li>
      <li><a>Contact Us</a></li>
      <li><a>Careers</a></li>
    </ul>
    <ul>
      <li>Bilingual Customer Care:</li>
      <li>Hospital Care <br /> x.xxx.xxx.xxxx</li>
    </ul>
    <ul>
      <li>Long Term / Alternate Care <br /> x.xxx.xxx.xxxx</li>
      <li>Feedback <br />WCD-feedback@wcdglobal.com</li>
    </ul>

  </div>
  <div class='copyright-area'>
    Copyright &#169; WCD-Global Inc. All Rights
  </div>
</div>