 <div class="container about">
    <div class="container--secondary">
        <h2>About WCD Medical</h2>
        <span>
           The healthcare industry is dominated by incumbents, with decades-old technology throughout the ordering and procuring process. At WCD Global we know that the best care comes from using the most up-to-date technology, and remaining constantly vigilant to the ebs and flows of client needs.
          <br/>
          <br/>
           WCG Global has a simple yet noble mission - delivering convenience, confidence, and innovation.
        </span>
        <p></p>
        <p></p>
        <div>
            <a href="/" class="button button--success">Learn More</a>
        </div>
    </div>
</div>