 <div class="hero-section container container--primary">
	<div class="hero-content">
		<h1>Welcome<br> to Paperless</h1>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore
			voluptatibus natus, ipsa enim repellat? Optio suscipit aliquid
			incidunt, dolor doloremque quasi minima illum eaque a officia!
			At architecto quo non, mollitia suscipit nulla?</p>
		<div class="center">

			<a href="/" class="button button--primary">Shop All Categories</a>
		</div>
	</div>
	<div class="hero-image">
	</div>

</div>