 <div class="shop-popular-section">
    {{!-- Shop popular categories --}}
    <div class="shop-popular-products container container--secondary">
        <h2>Shop Popular products</h2>
        <div class="product-list">
            {{> cards/product-card }}
            {{> cards/product-card }}
            {{> cards/product-card }}
            {{> cards/product-card }}
        </div>
    </div>

    {{!-- Shop popular categories --}}
    <div class="shop-popular-categories container container--secondary">
        <h2>Shop Popular Categories</h2>
       <div class="category-list">
            <div class="category-list-item">
                <div class="container container--primary"> Dental</div>
                <div class="container container--secondary">See all products</div>
            </div>
            <div class="category-list-item">
                <div class="container container--primary">> Skin & Wound Care</div>
                <div class="container container--secondary">See all products</div>
            </div>
            <div class="category-list-item">
                <div class="container container--primary">> Needles, Syringes & IV's</div>
                <div class="container container--secondary">See all products</div>
            </div>
            <div class="category-list-item">
                <div class="container container--primary">> Nursing Supplies & Patient Care</div>
                <div class="container container--secondary">See all products</div>
            </div>
            <div class="category-list-item">
                <div class="container container--primary">> Gloves</div>
                <div class="container container--secondary">See all products</div>
            </div>
            <div class="category-list-item">
                <div class="container container--primary">> Respiratory and Anesthesia</div>
                <div class="container container--secondary">See all products</div>
            </div>

        </div>
    </div>
</div>