<div class="testimonials-carousel container container--blue">
    <strong class="left-arrow button">
        <g class="stencil" transform="matrix(-1 0 0 1 182 1629)"><svg width="36" height="36" x="0.5" y="0.5"
                class="stencil--easier-to-select" style="opacity: 1;">
                <defs></defs>
                <rect x="0" y="0" width="36" height="36" fill="transparent" class="stencil__selection-helper"></rect>
                <style>
                    #mq-stencil-icon-ef32d99b * {
                        vector-effect: non-scaling-size;
                    }
                </style>
                <g id="mq-stencil-icon-ef32d99b" fill="rgb(255, 255, 255)" stroke-width="0" stroke="none"
                    stroke-dasharray="none"><svg preserveAspectRatio="none" width="100%" viewBox="0 0 24 24"
                        height="100%" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M9.29 6.71c-.39.39-.39 1.02 0 1.41L13.17 12l-3.88 3.88c-.39.39-.39 1.02 0 1.41.39.39 1.02.39 1.41 0l4.59-4.59c.39-.39.39-1.02 0-1.41L10.7 6.7c-.38-.38-1.02-.38-1.41.01z">
                        </path>
                    </svg></g>
            </svg></g>
    </strong>
    <div class="testimonial">
        <p class="testimonial-text">"Lorem ipsum dolor sit amet consectetur
            adipisicing elit.
            Enim officiis iure tempora nisi modi, reiciendis repellat
            alias, error incidunt dolor ex magnam fuga."</p>
        <img src="images/placeholders/testimonial-carousel.png" width="50" height="50" alt="testimonial
            picture">
        <p>John Doe, COO of Client Company</p>
    </div>
    <b class="right-arrow button">
        <g class="stencil" transform="matrix(1 0 0 1 918 1636)"><svg width="36" height="36" x="0.5" y="0.5"
                class="stencil--easier-to-select" style="opacity: 1;">
                <defs></defs>
                <rect x="0" y="0" width="36" height="36" fill="transparent" class="stencil__selection-helper"></rect>
                <style>
                    #mq-stencil-icon-b193ff44 * {
                        vector-effect: non-scaling-size;
                    }
                </style>
                <g id="mq-stencil-icon-b193ff44" fill="rgb(255, 255, 255)" stroke-width="0" stroke="none"
                    stroke-dasharray="none"><svg preserveAspectRatio="none" width="100%" viewBox="0 0 24 24"
                        height="100%" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M9.29 6.71c-.39.39-.39 1.02 0 1.41L13.17 12l-3.88 3.88c-.39.39-.39 1.02 0 1.41.39.39 1.02.39 1.41 0l4.59-4.59c.39-.39.39-1.02 0-1.41L10.7 6.7c-.38-.38-1.02-.38-1.41.01z">
                        </path>
                    </svg></g>
            </svg></g>
    </b>
</div>