 <div class="container about">
    <div class="container--secondary">
        <h2>About WCD Medical</h2>
        <span>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Amet
            ipsum perspiciatis sint exercitationem fugiat repudiandae
            sed
            doloribus reprehenderit odio! Excepturi quibusdam, quasi
            inventore ipsam sunt quod consectetur accusantium eius unde?
        </span>
        <p></p>
        <p></p>
        <div>
            <a href="/" class="button button--success">Learn More</a>
        </div>
    </div>
</div>