<div class="hero-section container container--primary">
	<div class="hero-content">
		<h1>Transform<br> Your Clinic</h1>
		<p>No more sourcing, no more waiting for multiple deliveries, <br> and no more
			wasted days.</p>
		<p>Welcome to a unified clinical buying experience.</p>
		<div class="center actions">
			<span>
				<input class="input-gray" type="text" name="" placeholder="Enter your email..." id="">
			</span>
			<a href="/" class="button button--primary">Register for Access</a>
		</div>
	</div>
	<div class="hero-image">
	</div>

</div>