
   <div class="input input-fullWidth">
     <input id="#" placeholder="#" type="text">
   </div>
 
   <div class="select select-fullWidth">
     <select name="#" id="#">
       <option>Option 1</option>
       <option>Option 2</option>
     </select>
   </div>
 
   <div class="textarea">
     <textarea id="#"></textarea>
   </div>

    <div class="input">
      <label for="text">Test</label>
     <input name="text" type="text" id="#"></input>
   </div>
 
   <div class="radio">
     <input id="#" name="#" type="radio" value="">
     <label for="#">Radio button</label>
   </div>
 
   <div class="checkbox">
     <input id="#" name="#" type="checkbox" value="">
     <label for="#">Checkbox</label>
   </div>
