 <div class="call-to-action-card">
    <div class="card container--primary">
        <div>
            <img src="images/home-not-loggedin/card-image-3.jpg" alt="Lab
                technician">
        </div>
        <div class="card--content">
            <h2>Payments & Finance Simplified</h2>
            <p>
               Pre-Approved organizations can benefit from our in-house credit program on Net XXX terms.
            </p>
            <p>Additionally, our account hub allows for quick reference to order history, scheduled orders, location management and more features all designed to ease the burden on your ordering and finance departments.</p>
            <a href="" class="button button--primary">Learn More</a>
        </div>
    </div>
    <div class="features-ribbon container--secondary">
        <div>
            <img height="80" width="80"
                src="images/home-not-loggedin/call-to-action/paperless-ordering-01.png"
                alt="illustration">
            <span>Paperless Ordering</span>
        </div>
        <div>
            <img height="80" width="80"
                src="images/home-not-loggedin/call-to-action/100k-sku.png"
                alt="illustration">

            <span>Made for Medical Professionals</span>
        </div>
        <div>
            <img height="80" width="80"
                src="images/home-not-loggedin/call-to-action/in-house-credit-01.png"
                alt="illustration">
            <span>Same & Next Day Delivery</span>
        </div>
    </div>
</div>