 <div class="call-to-action-card">
    <div class="card container--primary">
        <div class="card--content">
            <h2>DELIVERED WITH CONSISTENCY</h2>
            <p>
                Initiate recurring monthly deliveries to all your clinics at the
                click of a button.
            </p>
            <p>Seamlessly save money and time by improving your consistency of
                service with no lack-of-product downtime.</p>
            <a href="" class="button button--primary">Learn More</a>
        </div>
        <div>
            <img src="images/home-not-loggedin/card-image-2.jpg" alt="delivery
                worker">
        </div>
    </div>
    <div class="features-ribbon container--secondary">
        <div>
            <img height="80" width="80"
                src="images/home-not-loggedin/call-to-action/consistent-supply.png"
                alt="illustration">
            <span>Consistent Supply</span>
        </div>
        <div>
            <img height="80" width="80"
                src="images/home-not-loggedin/call-to-action/100k-sku.png"
                alt="illustration">

            <span>Manage Multiple Locations</span>
        </div>
        <div>
            <img height="80" width="80"
                src="images/home-not-loggedin/call-to-action/in-house-credit-01.png"
                alt="illustration">
            <span>24-7 Availability</span>
        </div>
    </div>
</div>