 <div class="call-to-action-card">
    <div class="card container--primary">
        <div>
            <img src="images/home-not-loggedin/card-image-1.jpg" alt="Lab
                technician">
        </div>
        <div class="card--content">
            <h2>Saving Time for Saving Patients</h2>
            <p>
                Simplify the ordering process for clinics and clinical groups of
                all sizes. Wtih access to over 4 million products from 3M,
                Diversy, Cardinal Health and more, we have every supply you
                need.
            </p>
            <a href="" class="button button--primary">Learn More</a>
        </div>
    </div>
    <div class="features-ribbon container--secondary">
        <div>
            <img height="80" width="80"
                src="images/home-not-loggedin/call-to-action/unified-ordering.png"
                alt="illustration">
            <span>Unified Ordering</span>
        </div>
        <div>
            <img height="80" width="80"
                src="images/home-not-loggedin/call-to-action/100k-sku.png"
                alt="illustration">

            <span>100,000+ SKU'S</span>
        </div>
        <div>
            <img height="80" width="80"
                src="https://i.ibb.co/2gWCqnq/In-House-Credit-01.png"
                alt="illustration">
            <span>IN-HOUSE CREDIT</span>
        </div>
    </div>
</div>