    <a class="category-grid__item" href="#">
        <div class="category-card"></div>
    <div class="category">
        <img src="#" alt="category image">
        <span>Category</span>
    </div>
    </div>
</a>


