 <div class="product-card">
    <div class="wrapper--product-image">
        {{!-- <img src="images/placeholders/product-placeholder.png"
            alt="product image" width="150px"
            class="product-image"> --}}
        <svg width="105" height="144" x="0.5" y="0.5" class="" style="opacity:
            1;"><defs></defs><path d="M0 0 L105 0 C105 0 105 0 105 0 L105 144
                C105 144 105 144 105 144 L0 144 C0 144 0 144 0 144 L0 0 C0 0 0 0
                0 0 Z" stroke-width="1" stroke="rgb(122,122,122)"
                stroke-dasharray="none" fill="rgba(247,246,246,0)"></path>
            <g class="stencil" transform="matrix(1 0 0 1 370.279 493.838)"><svg
                    width="50" height="82" x="0.5" y="0.5" class=""
                    style="opacity: 1;"><defs></defs><path d="M0 0 L50 0 C50 0
                        50 0 50 0 L50 82 C50 82 50 82 50 82 L0 82 C0 82 0 82 0
                        82 L0 0 C0 0 0 0 0 0 Z" stroke-width="0" stroke="none"
                        stroke-dasharray="none" fill="rgba(0,0,0,0)"></path><path
                        d="M40.466756089766264
                        35.46761022891449C40.466756089766264 38.23380511445724
                        38.14209967029166 40.53896751907621 35.35251196692213
                        40.53896751907621 32.5629242635526 40.53896751907621
                        30.47073348602546 38.003288873995345 30.47073348602546
                        35.46761022891449 30.47073348602546 32.70141534337173
                        32.56292426355261 30.39625293875276 35.35251196692213
                        30.39625293875276 38.14209967029166 30.39625293875276
                        40.466756089766264 32.70141534337173 40.466756089766264
                        35.46761022891449 40.466756089766264 35.46761022891449
                        40.466756089766264 35.46761022891449 40.466756089766264
                        35.46761022891449M28.843473992393243
                        41C27.68114578265594 39.15587007630483
                        25.821420647076252 39.15587007630483 24.65909243733895
                        41 24.65909243733895 41 24.426626795391492
                        41.2305162404619 24.426626795391492 41.2305162404619
                        23.496764227601645 39.84741879769052 22.566901659811805
                        38.23380511445724 21.86950473396942 36.85070767168587
                        20.242245240337198 34.08451278614311 17.685123178915134
                        34.08451278614311 16.05786368528291 36.85070767168587
                        14.430604191650689 39.61690255722863 11.873482130228624
                        43.99671112600466 10.2462226365964 46.762906011547415
                        8.618963142964176 49.529100897090174 10.01375699464894
                        51.60374706124725 13.268275981913387 51.60374706124725
                        13.268275981913387 51.60374706124725 31.168130411867843
                        51.60374706124725 31.168130411867843 51.60374706124725
                        33.49278683134245 51.60374706124725 34.42264939913229
                        50.22064961847587 33.260321189394986 48.1460034543188
                        32.09799297965768 46.07135729016173 30.238267844078003
                        43.07464616415707 28.843473992393243 41
                        28.843473992393243 41 28.843473992393243 41
                        28.843473992393243 41" fill="rgb(122,122,122)"
                        fill-rule="evenOdd"></path></svg></g></svg>

    </div>
    <div class="card-content">
        <h3 class="product-title">Item x</h3>
        <a class='button button--primary' href='/'>Select</a>
    </div>
</div>