 <div class="product-card">
    <div class="wrapper--product-image">
        {{!-- <img src="images/placeholders/product-placeholder.png"
            alt="product image" width="150px"
            class="product-image"> --}}
        <svg width="105" height="144" x="0.5" y="0.5" class="" style="opacity:
            1;"><defs></defs><path d="M0 0 L105 0 C105 0 105 0 105 0 L105 144
                C105 144 105 144 105 144 L0 144 C0 144 0 144 0 144 L0 0 C0 0 0 0
                0 0 Z" stroke-width="1" stroke="rgb(122,122,122)"
                stroke-dasharray="none" fill="rgba(247,246,246,0)"></path></svg>
    </div>
    <div class="card-content">
        <p class="product-title">Item x</p>
        <a class='button button--success' href='/'>Shop</a>
    </div>
</div>