<div class="catalogue-info">
  {{! Left open to display the contents and match the wireframe }}
  <details open>
    <summary>
      <div class="title">
        <b>Catalogue Number</b>
      </div>
      <div class="catalogue-number">COVP-WF2520761</div>
    </summary>

    <div class="manufacturer-info">
      <div class="triangle">
        {{> misc/catalogue-triangle}}
      </div>
      <ul class="container--light-gray">
        <li><span>Manufacturer Number:</span>F2520761</li>
        <li><span>Invoice Description:</span>56565 F2520761 F2520761 F2520761
          F2520761F2520761F2520761</li>
        <li><span>Manufacturer Number:</span>F2520761</li>
      </ul>
    </div>
  </details>
</div>