<div class='container'>

  <div id="navigation-bar">
    <nav>
      <ul>
        <li><a href="/" class="logo">LOGO</a></li>
        <li><a href="/">Home</a></li>
        <li><a href="/categories">Categories</a></li>
        <a href="#" id="menu-icon"></a>
      </ul>
    </nav>
  </div>

</div>