<header class='container'>
  <div id='navigation-bar'>
    <nav class='top-nav'>
      <ul class='top-nav__left'>
        <li><a href='/' id='logo'><img
              src='images/logos/logo-horizontal-blue.png' alt='wcd logo'
              width='210px' /></a>
        </li>
        <li>
          <div class='search-area'>
            <img src='images/icons/search-icon.svg' width='20px' alt='search
              icon' />
            <input type='text' placeholder='Search healthcare products here' />
          </div>
        </li>
      </ul>
      <ul class='top-nav__right'>
        <li class='need-help-wrapper'><a class='button button--primary'
            href='/'>Need Help? Call x.xxx.xxx.xxxx</a></li>
        <li><a class='button button--secondary' href='/'>Francais</a></li>
        <li><a class='button button--primary' href='/account-page'>Hello, PERSON</a></li>
      </ul>
    </nav>
    <nav class='main-nav'>
      <ul class='main-nav__links'>
        <li><a href='/'>Home</a></li>
        <li><a href='/home-loggedin'>Home (Logged In)</a></li>
        <li><a href='/categories'>Shop by Category &#9661;</a></li>
        <li><a href='/saved-lists'>Saved Lists</a></li>
        <li><a href='/quick-order'>Quick Order</a></li>
        <li><a href='/track-order'>Track Order</a></li>
      </ul>
      <ul class="main-nav__cart">
        <li><a class='button' href="/cart--shopping-cart"><img width='25px'
              src='images/icons/cart-icon.svg' alt='cart' /></a></li>
      </ul>
    </nav>
  </div>

</header>