<header class='container'>
  <div id='navigation-bar'>
    <nav class='top-nav'>
      <ul class='top-nav__left'>
        <li><a href='/home-loggedin' class='logo'><img src='images/logos/logo-horizontal-blue.png' alt='wcd logo'
              width='210px' /></a></li>
      </ul>
      <ul class='top-nav__right'>
        <li></li>
        <li><a class='button button--secondary' href='/'>Francais</a></li>
        <li><a class='button button--primary' href='/register'>SIGN&nbsp;IN/REGISTER</a></li>
      </ul>
    </nav>
  </div>

</header>