<header class='container'>
  <div id='navigation-bar'>
    <nav class='top-nav'>
      <ul class='top-nav__left'>
        <li><a href='/home-loggedin' class='logo'><img src='images/logos/logo-horizontal-blue.png' alt='wcd logo'
              width='210px' /></a></li>
      </ul>
   
    </nav>
  </div>

</header>